<div style="background-color:#fff; z-index:19891015" class="xubox_main"><div class="xubox_page" style="top: 36px;"><div class="xuboxPageHtml">
    <div style="width:280px;margin-left:10px;">
        <form action="/ajax/Chapter/Reward/" method="post" onsubmit="return submitReward(this)">
            <input type="hidden" class="text" name="BookID" value="1059">
            <table class="rewarddir">
                <tbody><tr>
                    <td><label onclick="$('.reply').val('支持作者文风酣畅，至醇至诚。')">
                        <input type="radio" id="r2" name="rid" checked="checked" value="2">
                    
                    红酒 <span style="color: #f60;">200</span> 果币/个</label></td>
                    <td style="text-align:right;"><img src="/_res/ico/Reward/02.png"></td>
                    </tr>
                <tr>
                    <td><label onclick="$('.reply').val('支持作者字字珠玉，钻石永恒。')">
                        <input type="radio" id="r3" name="rid" value="3">
                    
                    钻石 <span style="color: #f60;">800</span> 果币/个</label></td>
                    <td style="text-align:right;"><img src="/_res/ico/Reward/03.png"></td>
                    </tr>
                <tr>
                    <td><label onclick="$('.reply').val('支持作者笔下生辉，学富五车。')">
                        <input type="radio" id="r4" name="rid" value="4">
                    
                    跑车 <span style="color: #f60;">2000</span> 果币/个</label></td>
                    <td style="text-align:right;"><img src="/_res/ico/Reward/04.png"></td>
                    </tr>
                <tr>
                    <td><label onclick="$('.reply').val('支持作者雄韬伟略，栋梁之才。')">
                        <input type="radio" id="r5" name="rid" value="5">
                    
                    别墅 <span style="color: #f60;">10000</span> 果币/个</label></td>
                    <td style="text-align:right;"><img src="/_res/ico/Reward/05.png"></td>
                    </tr>
                <tr>
                    <td><label onclick="$('.reply').val('支持作者乘风破浪，水涨船高。')">
                        <input type="radio" id="r6" name="rid" value="6">
                    
                    游艇 <span style="color: #f60;">50000</span> 果币/个</label></td>
                    <td style="text-align:right;"><img src="/_res/ico/Reward/06.png"></td>
                    </tr>
                <tr>
                    <td><label onclick="$('.reply').val('文从字顺，一掷千金，豪气无双。')">
                        <input type="radio" id="r7" name="rid" value="7">
                    
                    飞机 <span style="color: #f60;">100000</span> 果币/个</label></td>
                    <td style="text-align:right;"><img src="/_res/ico/Reward/07.png"></td>
                    </tr>
                </tbody></table>
            <table class="rewarddir">
                <tbody><tr>
                    <td width="30">数量</td>
                    <td><input type="number" class="form-control" style="width:95%;padding:3px 5px;border-color:#ccc" placeholder="数量" name="count" value="1"></td>                    
                    </tr>
                <tr>
                    <td>留言</td>
                    <td>
                        <textarea rows="3" style="width:95%;resize: none;padding:3px 5px;border-color:#ccc" class="form-control reply" placeholder="打赏内容" name="reply">支持作者文风酣畅，至醇至诚。</textarea>
                    </td>                    
                    </tr>
                </tbody></table>

        <button type="submit" class="btn btn-success btn-sm btn-block" style="margin-top:10px;">捧场</button>
            </form>
        </div>
</div></div><div class="xubox_title" style="cursor: move;" move="ok"><em>我要捧场</em></div><span class="xubox_setwin"><a class="xubox_close xulayer_png32 xubox_close0" href="javascript:;" style=""></a></span><span class="xubox_botton"></span></div>