<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=GBK" />
  <meta id="ctl00_metaKeywords" content="小说,小说网,言情小说,青春小说,玄幻小说,武侠小说,都市小说,历史小说,网络小说,原创网络文学"
  name="keywords">
  <meta id="ctl00_metaDescription" content="小说阅读,精彩小说尽在{?$jieqi_pagetitle?}。{?$jieqi_pagetitle?}提供玄幻小说,武侠小说,原创小说,网游小说,都市小说,言情小说,青春小说,历史小说,军事小说,网游小说,科幻小说,恐怖小说,首发小说最新章节免费小说阅读,精彩尽在{?$jieqi_pagetitle?}！热门小说:莽荒纪,绝世唐门,天骄无双,胜者为王,醉枕江山。"
  name="description">
  <!-- 360安全游览器使用webkit极速核 -->
  <meta name="renderer" content="webkit" />
  <meta name="description" content="{?$jieqi_pagetitle?}网络各界小说高手,每日更新小说连载,小说排行榜更是提供全网最收欢迎的小说下载,当下最好看的小说,如言情小说.穿越小说.玄幻小说等.找最好看的免费小说就来{?$jieqi_pagetitle?}."
  />
  <meta name="keywords" content="小说,小说排行榜,免费小说下载,好看的小说" />
  <!-- IE使用它支持的最高模式 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="baidu-site-verification" content="3R33MUNLCM" />
  <title>
    {?$groupname?}小说阅读_{?$jieqi_pagetitle?}|免费小说,玄幻小说,武侠小说,青春小说,小说网各类小说下载
  </title>
  <link href="/favicon.ico" type="image/x-icon"
  rel="shortcut icon">
  <link href="/favicon.ico" type="image/x-icon"
  rel="Bookmark">
  <link rel="stylesheet" type="text/css" href="/sink/css/base.css"
  />
 
<script type="text/javascript" src="{?$jieqi_url?}/scripts/jquery-1.7.min.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/scripts/common.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/scripts/theme.js"></script>
 <script type="text/javascript" src="/sink/js/base.js">
  </script>
  <script type="text/javascript" src="/sink/js/tcss.ping.js">
  </script>
  <script type="text/javascript" src="/sink/js/banner.js">
  </script>
</head>
<body>

{?include file="sink/head.html"?} 

  <!-- 顶部导航的模板 -->
    <textarea id="topNavBarTpl" style="display:none;">

	 </textarea>
  <script type="text/javascript">
    $(function() {
      CS.common.init();
    });
  </script>
  <!-- <div class="wrap">  -->
  <link rel="stylesheet" type="text/css" href="/sink/css/index.css"
  />
  </head>
  
  <body>
    <div class="pageCenter">
      <div class="mainNavWrap cf">
        <a class="yqLogo" href="/">
          <img src="/sink/image/logo.png" width="242"
          height="97" alt="{?$jieqi_pagetitle?}" title="{?$jieqi_pagetitle?}" />
        </a>
<a class="topBanner" target="_blank" href="">{?$jieqi_banner?}</a>
      </div>
      <div class="head_mainnav">
        <div class="head_mainnav_hd cf">
          <h3>
            <a href="{?$jieqi_url?}/">
              首页
            </a>
          </h3>
		  {?if $id == 2?}<span>
          </span>{?/if?}
         {?if $id == 1?}<h3 class="cur">{?else?}<h3>{?/if?}
            <a href="{?$jieqi_modules['article']['url']?}/group.php?id=1">
              男生
            </a>
          </h3>
          {?if $id == 1 || $id == 2?}{?else?}<span>
          </span>{?/if?}
          {?if $id == 2?}<h3 class="cur">{?else?}<h3>{?/if?}
            <a href="{?$jieqi_modules['article']['url']?}/group.php?id=2">
              女生
            </a>
          </h3>
{?if $id == 2?}{?else?}<span>
          </span>{?/if?}
          <h3>
            <a href="{?$jieqi_modules['article']['url']?}/articlefilter.php">
              书库
            </a>
          </h3>
          <span>
          </span>
          <h3>
            <a href="{?$jieqi_modules['pay']['url']?}/buyegold.php" target="_blank">
              充值
            </a>
          </h3>
          <span>
          </span>
          <h3>
            <a href="{?$jieqi_modules['forum']['url']?}" target="_blank">
              论坛
            </a>
          </h3>

          <div class="headSerachBox">
               <form action="/modules/article/search.php" method="post">
				<input type="text" name="searchkey" class="search_text" placeholder="搜索一下吧！"/>
				<input type="submit" value="" class="search_button">
			</form>


          </div>
        </div>
        <div class="head_mainnav_bd cf">
          <div class="subClass">
            <a href="{?function jieqi_geturl:article:articlelist:1:1?}">
              玄幻·魔法
            </a>
            <span>
              |
            </span>
            <a href="{?function jieqi_geturl:article:articlelist:1:2?}">
              武侠·修真
            </a>
            <span>
              |
            </span>
            <a href="{?function jieqi_geturl:article:articlelist:1:3?}">
              都市·校园
            </a>
            <span>
              |
            </span>
            <a href="{?function jieqi_geturl:article:articlelist:1:4?}">
              历史·军事
            </a>
            <span>
              |
            </span>
            <a href="{?function jieqi_geturl:article:articlelist:1:5?}">
              游戏·竞技
            </a>
            <span>
              |
            </span>
            <a href="{?function jieqi_geturl:article:articlelist:1:6?}">
              科幻·同人
            </a>
            <span>
              |
            </span>
            <a href="{?function jieqi_geturl:article:articlelist:1:7?}">
              现代·言情
            </a>
            <span>
              |
            </span>
            <a href="{?function jieqi_geturl:article:articlelist:1:8?}">
              古代·言情
            </a>
            <span>
              |
            </span>
            <a href="{?function jieqi_geturl:article:articlelist:1:9?}">
              幻想·言情
            </a>
            <span>
              |
            </span>
            <a href="{?function jieqi_geturl:article:articlelist:1:10?}">
              综合·其他
            </a>
          </div>

        </div>

      </div>
    </div>
     <div class="pageCenter">
      <!--第一屏-->
      <div class="indexOne mb10 cf">
        <div class="tabWrap tabSwitch fl mr10">
          <div class="threeTabBox">
            <em>
              {?$groupname?}本周强推
            </em>
          </div>
          <div class="listWrap">
            <div class="tabList">
              <ul class="rankList">
{?$jieqi_pageblocks['2']['content']?}

              </ul>

            </div>
          </div>
        </div>
        <div class="indexOneCenter">
          <!-- 大图轮播 -->
		<div id="slideshow" class="block">
			<div id="focus">
				<ul>
{?if $id == 2?}{?$jieqi_pageblocks['3']['content']?}{?else?}{?$jieqi_pageblocks['4']['content']?}{?/if?}
				</ul>
			</div>
		</div>

        </div>
        <div class="tabWrap mb10 fr">
          <div class="threeTabBox">
            <em>
              {?$groupname?}最新上架
            </em>
          </div>
          <div class="rankListWrap">
            <ul class="rankList rankHover numList">
{?$jieqi_pageblocks['5']['content']?}
            </ul>
          </div>
        </div>
 
      </div>

      <!--第二屏-->
      <div class="indexTwo mb10 cf">
        <div class="tabWrap tabSwitch fl mr10">
          <div class="threeTabBox">
            <em>
              {?$groupname?}原创风云榜
            </em>
          </div>
          <div class="listWrap">
            <ul class="rankList rankHover numList">
{?$jieqi_pageblocks['6']['content']?}
            </ul>
          </div>
        </div>
        <div class="indexCenter">
          <h6>{?if $id == 2?}现代·言情{?else?}玄幻·魔法{?/if?}</h6>
          <div class="recBookWrap">
            <div class="recBook cf">
              <div class="twoBookWrap">
{?if $id == 2?}{?$jieqi_pageblocks['8']['content']?}{?else?}{?$jieqi_pageblocks['7']['content']?}{?/if?}
			                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tabWrap tabSwitch fr">
          <div class="threeTabBox">
<em> 签约人气周榜</em>
          </div>
          <div class="listWrap">
            <ul class="rankList rankHover numList tabList">
{?$jieqi_pageblocks['9']['content']?}

            </ul>

          </div>
        </div>
      </div>
      <!--第三屏-->
      <div class="indexThree mb10 cf">
        <div class="tabWrap tabSwitch fl mr10">
          <div class="threeTabBox">
            <em>
              {?$groupname?}鲜花榜
            </em>
          </div>
          <div class="listWrap">
            <ul class="rankList rankHover numList">
{?$jieqi_pageblocks['10']['content']?}
            </ul>
          </div>
        </div>
        <div class="indexCenter">
          <h6>{?if $id == 2?}古代·言情{?else?}武侠·修真{?/if?}</h6>
          <div class="recBookWrap">
            <div class="recBook cf">
              <div class="twoBookWrap">
{?if $id == 2?}{?$jieqi_pageblocks['12']['content']?}{?else?}{?$jieqi_pageblocks['11']['content']?}{?/if?}
                </ul>
              </div>
            </div>

          </div>
        </div>
        <!--作品人气榜-->
        <div class="tabWrap tabSwitch fr">
         <div class="threeTabBox">
            <em>
             {?$groupname?}总推荐榜
            </em>
          </div>
          <div class="listWrap">

            <ul class="rankList rankHover numList tabList">
 {?$jieqi_pageblocks['13']['content']?}
            </ul>

          </div>
        </div>
      </div>
      <!--第四屏-->
      <div class="indexFour mb10 cf">
        <div class="tabWrap tabSwitch fl mr10">
       <div class="threeTabBox">
            <em>
             {?$groupname?}月票榜
            </em>
          </div>
          <div class="listWrap">
            <ul class="rankList rankHover numList">
{?$jieqi_pageblocks['14']['content']?}
            </ul>

          </div>
        </div>
        <div class="indexCenter">
          <h6>{?if $id == 2?}幻想·言情{?else?}历史·军事{?/if?}</h6>
          <div class="recBookWrap">
            <div class="recBook cf">
              <div class="twoBookWrap">
{?if $id == 2?}{?$jieqi_pageblocks['16']['content']?}{?else?}{?$jieqi_pageblocks['15']['content']?}{?/if?}
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="tabWrap fr">
          <div class="threeTabBox">
            <em>
             {?$groupname?}VIP免费
            </em>
          </div>
          <div class="rankListWrap">
            <ul class="rankList rankHover numList">
 {?$jieqi_pageblocks['17']['content']?}
            </ul>
          </div>
        </div>
      </div>


 
      <!--底部第七屏-->
      <div class="indexSeven mb10 cf">
        <div class="fl mr10">
          <div class="tabWrap tabSwitch mb10">
       <div class="threeTabBox">
            <em>
             {?$groupname?}字数榜
            </em>
          </div>
            <div class="listWrap">
              <ul class="rankList rankHover numList tabList">
  {?$jieqi_pageblocks['18']['content']?}
              </ul>
            </div>
          </div>
        </div>
        <!--最新小说更新列表-->
        <div class="indexCenter newUpdate">
          <h6>
            {?$groupname?}最新小说更新列表
          </h6>
          <div id="updateTabBox" class="updateTabBox">
            <div class="updateTab">
              <ul>
                <li class="upCur">
                  免费小说
                </li>
                <li>
                  VIP小说
                </li>
                <li class="noborder">
                  签约小说
                </li>
              </ul>
            </div>
          </div>
          <div id="updateList" class="updateList">
            
            <ul>
 {?$jieqi_pageblocks['21']['content']?}
            </ul>
           
            <ul class="hidden">
 {?$jieqi_pageblocks['22']['content']?}
            </ul>
           
            <ul class="hidden">
 {?$jieqi_pageblocks['23']['content']?}
            </ul>
          </div>
        </div>
        <div class="fr">
          <div class="tabWrap mb10">
            <div class="twoTabBox">
              <h3>
                {?$groupname?}最新入库
              </h3>
            </div>
            <div class="rankListWrap">
              <ul class="rankList rankHover numList">
{?$jieqi_pageblocks['25']['content']?}
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    <br>
    <a id="totop" class="go_top" href="javascript:">
    </a>
  </body>
  
  </html>
  

  <div class="footer">
    <div class="footer_main cf">

 
      <div class="foot">
        <p>
          <a href="#" target="_blank" rel="nofollow">
            关于本站
          </a>
          <a href="#" target="_blank" rel="nofollow">
            服务协议
          </a>
          <a href="#" target="_blank" rel="nofollow">
            广告服务
          </a>
          <a href="#" target="_blank" rel="nofollow">
            客服中心
          </a>
        </p>
        <p>
          Copyright&nbsp;&nbsp;&copy;&nbsp;1998&nbsp;-&nbsp;2015&nbsp;Tencent.&nbsp;All&nbsp;Rights&nbsp;Reserved
        </p>
        <p>
          {?$jieqi_pagetitle?}&nbsp;版权所有
        </p>
      </div>

    </div>
  </div>
  <a id="goTopBtn" class="go_top" href="javascript:">
  </a>

  </div>
</body>

</html>