<div class="container">

	<div class="mod block tab ">
		<div class="hd c3 paytype">{?block bid="0" blockname="充值导航" module="pay" filename="block_paylist_tab" classname="BlockSystemCustom" side="-1" title="" vars="" template="" contenttype="4" custom="1" publish="3" hasvars="0"?}
		</div>

		<div style="background-color:#fff;padding-bottom:5px">
			<div class="chargeexchange"><br>
				<form id="form">
					<div class="weui_cells" style="display: none;">
						<div style="background:#F9F8F7;display: none;"> </div>
							<div class="weui_cell" style="border: none;">
								<div class="weui_cell_hd"><label class="weui_label"></label></div>
								<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" type="hidden" id="username" name="username" placeholder="{?$jieqi_username?}" value="{?$jieqi_username?}"/>
								</div>
							</div>
						</div>
						<div class="weui_cell">
							<div class="weui_cell_bd weui_cell_primary">
								<ul id="price">
									<li style="line-height:250%;float:left;width:50%;"><input type="radio" name="egold" value="50000" class="price radio"> 500元(50000币)</li>
									<li style="line-height:250%;float:left;width:50%;"><input type="radio" name="egold" value="20000" class="price radio"> 200元(20000币)</li>
									<li style="line-height:250%;float:left;width:50%;"><input type="radio" name="egold" value="10000" class="price radio"> 100元(10000币)</li>
									<li style="line-height:250%;float:left;width:50%;"><input type="radio" name="egold" value="5000" class="price radio"> 50元(5000币)</li>
									<li style="line-height:250%;float:left;width:50%;"><input type="radio" name="egold" value="3000" class="price radio"> 30元(3000币)</li>
									<li style="line-height:250%;float:left;width:50%;"><input type="radio" name="egold" value="2000" class="price radio"> 20元(2000币)</li>
								</ul>
							</div>
						</div>

					<div style=" margin:auto;">
						<div id="tj" class="weui_btn weui_btn_primary" style="background-color:#00aaef;">立即充值</div>
					</div>
				</form>
			</div>
			<div class="chargeexchange" style="display: none;"><br>
				<form name="frmalipay" method="post" action="{?$jieqi_modules['pay']['url']?}/alipay.php">
					<table class="tablebtn" align="center" style="background:#fff;border:none;">
						<tbody>
							<tr>
								<td>
									<ul id="price">
										<li style="line-height:250%;float:left;width:50%;"><input type="radio" name="egold" value="50000" class="price radio"> 500元(50000币)</li>
										<li style="line-height:250%;float:left;width:50%;"><input type="radio" name="egold" value="20000" class="price radio"> 200元(20000币)</li>
										<li style="line-height:250%;float:left;width:50%;"><input type="radio" name="egold" value="10000" class="price radio"> 100元(10000币)</li>
										<li style="line-height:250%;float:left;width:50%;"><input type="radio" name="egold" value="5000" class="price radio"> 50元(5000币)</li>
										<li style="line-height:250%;float:left;width:50%;"><input type="radio" name="egold" value="3000" class="price radio"> 30元(3000币)</li>
										<li style="line-height:250%;float:left;width:50%;"><input type="radio" name="egold" value="2000" class="price radio"> 20元(2000币)</li>
									</ul>
								</td>
								<tr></tr>
								<td width="70">
									<input type="hidden" name="action" value="bankpay">
									<input type="submit" name="Submit" class="weui_btn weui_btn_primary" value="下一步">
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
	<h1 class="page-title">提示：平台支持充值方式：支付宝、微信充值</h1>
	<div class="paytypetext">
			<div class="payfortips">
				<p>
					充值提示:
				</p>
				<ul class="payTips">
					<li>充值比例：1元=100{?$egoldname?}，最低充值20元。</li>
					<li>网站建议您在充值过程中不要关闭网页，每个步骤都按相应提示操作，系统会自动跳动回您最后阅读的章节。</li>
					<li>{?$egoldname?}未及时到账的，超过十分钟以后，请您联系网站下方提供的客服。</li>
				</ul>
			</div>
		</div>
</div>


<div id="dialog_alert1" class="weui_dialog_alert" style="display:none;">
    <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">信息提示</strong></div>
            <div class="weui_dialog_bd"></div>
            <div class="weui_dialog_ft">
                <a href="#" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>
    <div id="dialog_alert2" class="weui_dialog_confirm" style="display:none;">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">信息提示</strong></div>
            <div class="weui_dialog_bd"></div>
            <div class="weui_dialog_ft">
                <a href="#" class="weui_btn_dialog default">取消</a>
                <a href="#" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>
    <div id="loadingToast" class="weui_loading_toast" style="display:none;">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
            <div class="weui_loading">
                <!-- :) -->
                <div class="weui_loading_leaf weui_loading_leaf_0"></div>
                <div class="weui_loading_leaf weui_loading_leaf_1"></div>
                <div class="weui_loading_leaf weui_loading_leaf_2"></div>
                <div class="weui_loading_leaf weui_loading_leaf_3"></div>
                <div class="weui_loading_leaf weui_loading_leaf_4"></div>
                <div class="weui_loading_leaf weui_loading_leaf_5"></div>
                <div class="weui_loading_leaf weui_loading_leaf_6"></div>
                <div class="weui_loading_leaf weui_loading_leaf_7"></div>
                <div class="weui_loading_leaf weui_loading_leaf_8"></div>
                <div class="weui_loading_leaf weui_loading_leaf_9"></div>
                <div class="weui_loading_leaf weui_loading_leaf_10"></div>
                <div class="weui_loading_leaf weui_loading_leaf_11"></div>
            </div>
            <p class="weui_toast_content">数据加载中</p>
        </div>
    </div>

    <div id="toast" style="display: none;">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
            <i class="weui_icon_toast"></i>
            <p class="weui_toast_content">请稍等</p>
        </div>
    </div>

<script src="/weixin/Js/jquery.min.js"></script>
<script src="/weixin/Js/public.js"></script>
<link rel="stylesheet" href="/weixin/Css/public.css" media="screen">
<link rel="stylesheet" href="/weixin/Css/weui.min.css" media="screen">

<script>
	$(function(){
	$(".item").eq(0).addClass("active");
		$("#tj").click(function(){
			if(!$(this).hasClass("weui_btn_disabled")){
				$('#tj').addClass("weui_btn_disabled");
				$('#loadingToast').show();
				username=$('#username').val();
				price=$('.price:checked').val();

				$.post("/weixin/ajax.php?act=add",{username:username,price:price},function(data){
					str=data.split(":");
					$('#loadingToast').hide();
					if(str[0]=='success'){
						$('#toast').show(function(){});
						to_url(str[1]);
					}else{

						$('.weui_dialog_bd').html(str[1]);
						$('.weui_dialog_alert').show();
						$("#tj").removeClass("weui_btn_disabled");
					}
				});
			}
		});
	});
   </script>
   <style>
   	.active a{
   	color:#fff !important;
   	}
   </style>
   <script type="text/javascript">

   		function qie(a){
   			$('.chargeexchange').css('display','none');
   			$('.chargeexchange').eq(a).css('display','block');
   			$(".container .mod .paytype .item").removeClass("active")
   			$(".container .mod .paytype .item").eq(a).addClass("active")
   		}
   		$(".item").removeClass("active")
   </script>
