<!--<div class="banner">
			<ul>
			{?section name=i loop=$articlerows?}
			<li><a target="_blank" href="{?$articlerows[i].url_articleinfo?}"><img src="{?$articlerows[i].url_image?}" width="676" height="300"></a></li>
			{?/section?}
			</ul>
			 <ol class="dots">
			  {?section name=i loop=$articlerows?}
			  <li class="dot">1</li>
			  {?/section?}
			 </ol>
		</div>-->
		<div id="picBox" class="sliderBox">
              <ul id="show_pic">
			

			<li><a target="_blank" href="/modules/article/articleinfo.php?id=80"><img src="/themes/jieqiyc/images/wunitianqiong.jpg" width="676" height="300"></a></li>

			

			<li class="hide"><a target="_blank" href="http://www.yuedufang.com/modules/article/articleinfo.php?id=72"><img src="/themes/jieqiyc/images/shebaobao.jpg" width="676" height="300"></a></li>

			

			<li class="hide"><a target="_blank" href="http://www.yuedufang.com/modules/article/articleinfo.php?id=162"><img src="/themes/jieqiyc/images/wobenjinghua.jpg" width="676" height="300"></a></li>

			

			<li class="hide"><a target="_blank" href="http://www.yuedufang.com/modules/article/articleinfo.php?id=71"><img src="/themes/jieqiyc/images/bubujinghun.jpg" width="676" height="300"></a></li>

			

			</ul>

			

		</div>
		<script src="/scripts/easyCore.js"></script>

<script src="/scripts/easySlider.js"></script>
