    <br>
    <a id="totop" class="go_top" href="javascript:">
    </a>

  

  <div class="footer">
    <div class="footer_main cf">

 
      <div class="foot">
        <p>
          <a href="http://www.tencent.com/" target="_blank" rel="nofollow">
            关于本站
          </a>
          <a href="http://www.tencent.com/index_e.shtml" target="_blank" rel="nofollow">
            About Tencent
          </a>
          <a href="http://www.qq.com/contract.shtml" target="_blank" rel="nofollow">
            服务协议
          </a>
          <a href="http://open.qq.com/" target="_blank" rel="nofollow">
            开放平台
          </a>
          <a href="http://www.tencentmind.com/" target="_blank" rel="nofollow">
            广告服务
          </a>
          <a href="http://service.qq.com/" target="_blank" rel="nofollow">
            客服中心
          </a>
          <a class="nobroder" href="http://www.qq.com/map/" target="_blank" rel="nofollow">
            网站导航
          </a>
        </p>
        <p>
          Copyright&nbsp;&nbsp;&copy;&nbsp;1998&nbsp;-&nbsp;2015&nbsp;Tencent.&nbsp;All&nbsp;Rights&nbsp;Reserved
        </p>
        <p>
          {?$jieqi_pagetitle?}&nbsp;版权所有
        </p>
      </div>

    </div>
  </div>
  <a id="goTopBtn" class="go_top" href="javascript:">
  </a>
</div>
  </div>
</body>

</html>