/*
  Author: Andy Chan 
*/
iframe{v:expression(this.src='about:blank',this.outerHTML='');}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0; 
	vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    font-weight: normal;
} 
a:link{ 
    color: #311919;
    text-decoration: none;
    outline: none;
    background: none;
     -webkit-tap-highlight-color:transparent;
    -moz-tap-highlight-color:transparent;
    tap-highlight-color:transparent;
}
a:visited{ 
    color: #311919;
}
img{
    border: 0;
    width: 100%;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
  
html { 
	font: inherit;
    width: 100%;
    font-size: 100%;
    font-size:12px;  /*默认字体大小*/
    outline: 0;
    -webkit-text-size-adjust : none ;
    -moz-text-size-adjust : none ;
    -ms-text-size-adjust : none ;
    text-size-adjust : none/*禁止横竖屏时内容自动调整*/
}
body {
    width: 100%;
    margin: 0; 
    -webkit-user-select: none; 
    font-size: 100%;
    font-family: 'Heiti SC','Microsoft YaHei', 'Helvetica, Tahoma', 'Arial', 'sans-serif'; 
    background: #f4f4f4;
    
} 
.clearfix:before,.clearfix:after{
    content: '';
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    zoom:1;
} 
.fl{
    float: left;
}
.fr{
    float: right;
}
.container{
    width: 96%; 
    margin: 0 auto;
    padding: 0 2%;
    max-width: 750px;
}
.wapheader{ 
    height: 3.5rem;   
    line-height: 3.5rem; 
    width: 100%;
    z-index: 1000;
    position: relative;
    top: 0;
    padding-top: 0.7rem ; 
    text-align: right;
    border-bottom:1px solid  #f4f4f4; 
}
.wapheader .logo{
    display: inline-block;
    width: 4.58rem;
    height: 2.6rem;
    background: url(../images/logo.png) no-repeat left center;
    background-size: contain;
}
.wapheader .yqlogo{ 
    width: 4.2rem;
    position: relative;
    top:-5px;
/*    height: 2.01rem;*/
    background: url(../images/yqlogo.png) no-repeat left center;
    background-size: contain;
}
.wapheader .wechat,.wapheader .qq,.wapheader .weibo,
.reg .wechat,.reg .qq,.reg .weibo{
    background: url(../images/qq.png) no-repeat center center;
    background-size: contain;
    width:1.866rem;
    height: 1.866rem; 
    position: relative;
    top: 0.6rem;
}
.reg .wechat,.reg .qq,.reg .weibo{  
    width:2.5rem;
    height: 2.5rem;  
}
.wapheader .weibo,.reg .weibo{
    background: url(../images/weibo.png) no-repeat center center; 
     background-size: cover;
}
.wapheader .wechat,.reg .wechat{
    background: url(../images/wechat.png) no-repeat center center; 
     background-size: cover;
}
.wapheader a,.reg .ot_login a{
    display: inline-block; 
    font-size: 1.066rem;  
}
.wapheader .mybook{
    position: relative;
    top: -0.3rem;
} 
.wapheader .right a{
    margin-left: 1.05rem;
    color: #0f6491;   
}
/*
.wapheader .right a img:last-child{
    position: relative;
    top: -0.6rem;
}
*/
.wapheader span{
    display: inline-block;
     line-height: 3rem; 
}
.wapheader .logo{ 
    position: relative;
    top: 0.1rem;  
}
.wapheader .right .regs{
    font-size: 1.333rem;
    color:#21a7ee;
}
.wapheader .right img{
    width:2.2rem;
    height: 2.2rem; 
    position: relative;
    top: 4px; 
}
.wapheader .logo,.wapheader .center,.wapheader .right{
    width: 33.33%;
}
.wapheader .right {
    width: auto;
}
.wapheader .center{
    text-align: center;
    
    box-sizing: border-box;
}
.wapheader .center .bng{
    display: inline-block;
    border:2px solid #44a9f7;
    border-radius: 50px;
     line-height: 2.2em; 
    background: #44a9f7;  
    width: 100%;
    position: relative;
    top: 3px;
}
.wapheader .center .girls{
    background: #ff71a0;  
    border:2px solid #ff71a0;
}
.center .bng a{
    display: inline-block;
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.center .bng i{
    width: 1.06rem;
    height: 0.67rem;
    display: inline-block;
    margin-right: 2px;
}
.center .boys .girl{
    background: #fff;
    -webkit-border-radius: 50px 0 0 50px;
    border-radius: 50px 0 0 50px;
    color: #44a9f7; 
}
.center .boys .girl i{  
    background: url(../images/girls01.png) no-repeat   center;
    background-size: contain;
}
.center .boys .boy i{
    background: url(../images/boys01.png) no-repeat center;
    background-size: contain;
}
.center .boys .boy,.center .girls .girl{
    color: #fff; 
}
.center .girls .boy{
    background: #fff;
    -webkit-border-radius:   0 50px 50px 0;
    border-radius:   0 50px 50px 0;
    color: #ff71a0; 
}
 
.center .girls .girl i{  
    background: url(../images/girls02.png) no-repeat   center;
    background-size: contain;
}
.center .girls .boy i{
    background: url(../images/boys02.png) no-repeat center;
    background-size: contain;
}
/*菜单*/
.menu ul{
    width: 100%;
    overflow: hidden;
    padding: 15px 0 15px; 
}
.menu li{
    width: 20%;
    float: left;
    text-align: center;
/*    overflow: hidden;*/
    position: relative;
}
.menu li em{
    display: inline-block; 
    width: 2.71rem;
    height: 2.71rem;   
    max-width: 2.71rem;
    max-height: 2.71rem;
    margin-bottom: 5px; 
}
.menu li a .active{
    color: #21a7ee;
}
.menu li b{
    display: inline-block; 
    font-weight: normal;
    color: #595959;
    font-size: 1.066rem;
}
.menu  .icon01{
   background: url(../images/icon01.png) no-repeat;
    background-size: contain;
}.menu  .icon02{
   background: url(../images/icon02.png) no-repeat;
    background-size: contain;
}.menu  .icon03{
   background: url(../images/icon03.png) no-repeat;
    background-size: contain;
}.menu  .icon04{
   background: url(../images/icon04.png) no-repeat;
    background-size: contain;
}.menu  .icon05{
   background: url(../images/icon05.png) no-repeat;
    background-size: contain;
}
.otmenu  {
    border-bottom: 1px solid #dbdbdb;
}
.otmenu ul{
    padding: 10px 0 ; 
}
/*新*/
.menu   .firstmenu{
    background: #44a9f7; 
    padding: 0 0 8px;  
} 
.menu   .firstmenu,.menu   .twomenu{
    margin: 0 -2% 0 -2%;
    width: 104%;
    position: relative; 
}
.menu .firstmenu b{
    color: #fff; 
    padding: 15px 0.5rem 5px;  
}
.menu .nactive{ 
    border-bottom: 2px solid #fff;
    font-weight: 600;
}
.bd3{
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
     border-radius: 3px;
}
.bd5{
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     border-radius: 5px;
}
.bd10{
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
     border-radius: 10px;
}
.bd50{
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
     border-radius: 50%;
}
.none{
    display: none;
}
.blcok{
    display: block;
}
.wordhide{
     word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
    font-weight: normal;
}
@media(max-width:375px){
      .search  .s_top p a{ 
        margin:0  1.45% 20px 0 ; 
         padding: 0.75em 1.6rem;
}
}

@media(max-width:320px){
  .owl-carousel .right h5,.channel .right h5{
        padding: 1.3rem 0;
}
.owl-carousel .right p,.channel .right p{
        line-height: 1.6rem;
        font-size: 0.5rem;
}  
    .catalog ul li span{ 
    max-width: 58%; 
}
    .book_stack .right a{ 
    margin: 0 0.3rem 20px;  
    font-size: 1.2rem;
}
.book_stack .list .lefts {
    display: inline-block;
     width:53%; 
}
  .search .s_top p a{
    margin:0  8px 15px 0 ;
    font-size: 1.12rem;
    padding: 0.55rem 1.1rem;
}  
}
/**/
.s_endlist ul li{
    position: relative;
}  
.container .upnextss em{
    width: 32.5%;
    float: left;
    text-align: center;
    overflow: hidden;
    border: 1px solid transparent;
    font-style: normal;
      font-size: 1.2rem;
}
.upnextss em:first-child{
    text-align: left;
}
.upnextss em:last-child{
    text-align: right;
}
.allways {
    position: relative;
/*    top: -0.8rem;*/
}
.allways b{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #fc3636;
    position: absolute;
    top: 0;
    left: 0;
}
.allways em{
    display: inline-block;
   position: absolute;
    bottom:-0.3rem;
    right: 0;
}
.allways em img{ 
    width: 1rem!important;
    height:1rem!important ; 
}
/*评论弹框*/
.com_alert{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    display: none;
}
.com_alert .container{
    z-index: 1100;
    color: #fff;
    margin-top: 25%;  
}
.com_alert .downs{
    -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;    
} 
.com_alert h5 {
    text-align: center;
    display: none;
    margin: 40px 0;
}
.com_alert h5 b{
    display: inline-block;
    background: url(../images/comok.png) no-repeat left center;
    background-size: contain;
    padding-left:  40px;
    font-size: 1.244rem;
    color: #f60;
}
.login_tips{
    display: block;
}
.login_tips .container{
    text-align: center;
}
.login_tips h1{ 
    color: #3c3c3c;
    font-size: 1.244rem; 
    margin: 50px 0 30px;
}
.login_tips h2 a{
    display: block;
    background:#30aced;
    color: #fff;
    padding: 1rem 0;
    width: 70%;
    margin: 20px auto;
}

.com_alert .contxt{
    background: #fff;
    padding: 4%;
    margin: 0 1.2%;
    position: relative;
}
.com_alert .contxt .close{
    display: inline-block;
    width:3.1rem ;
    height: 3.1rem;
    background:url(../images/xclose.png) no-repeat center center;
    background-size:contain;
    position: absolute;
    top: -2rem;
    right: -0.7rem;
     -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}
.com_alert .contxt textarea{
     width: 95%;
     padding: 2%;
    font-size: 1.3rem;
    border: 1px solid #e0e0e0;
}
.com_alert .contxt h6{
    color: #f60;
    padding-top: 5px ;
    font-size: 12px;
    height: 12px;
}
.com_alert .com_push{
    background: #21a7ee;
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 10px 0 ;
    padding: 1rem 0;
    font-size: 1.24rem;
}
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}
.here,.herebottom{ 
    border-bottom: 1px solid #f4f4f4;
    color: #8d8d8d;
    font-size:1.066rem ;
    padding: 10px 0 20px;
}
.herebottom{ 
    border-bottom: none; 
    padding: 20px 0;
}
.here a,.herebottom a{  
    color: #8d8d8d;
}

/*尾部*/
.footer{
    padding: 30px 0;
    overflow: hidden;     
    max-width: 750px;  
}
.footer h1{
    text-align: center;
    background: #59c13a;
    font-size: 1.24rem;
    color: #fff;
    padding: 1rem;
}
.footer h1 a{ 
    color: #fff;
}
.footer p{
    text-align: center;
    color: #d6d6d6;
    font-size: 1.06rem;
}
.footer p a{
    text-align: center;
    display: inline-block;
    width: 18.5%; 
    float: left;
    margin: 25px 0;
    border-right: 1px solid #ccc;
    color: #848484;
}.footer p a:last-child{ 
    border-right: none;
}
 /*PC访问宽*/
.wapheader,
.menu,
.notice_down,
.notice,
.banner,
.freetime,
.channel,
.topsell,
.book_info,
.wapcomment,
.guessyou,
.wap_pay,
.pay_wait,
.reading,
.reg,
.catalog,
.mybook,
.book_stack,
.search,
.s_list,
.reward,
.home,
.my_cats,
.settings,
.feedback,
.othersee,
.help,
.helpshow,
.paylist,
.my_live,
.my_rules,
.my_month,
.wapad
{
    max-width: 750px; 
    margin: 0 auto;
}
.channel,
.freetime,
.wapcomment,
.guessyou,
.othersee
{
    margin: 15px auto;
} 
.footer{
    margin: 15px auto 0;
} 
/*显示*/
.channel .block,.topsell .block{
    display: block;
}
/*1px底色*/
.notice,
.freetime,
.channel,
.topsell h2,
.topsell,
.topsell ul li{
        border-bottom: 1px solid #ebebeb;
}
/*白色背景*/
.wapheader,
.menu,
.notice_down,
.banner,
.notice,
.freetime,
.footer,
.book_info,
.wapcomment,
.guessyou,
.wap_pay,
.pay_wait,
.reg,
.catalog,
.topall .tops,
.mybook,
.reward,
.home,
.my_cats,
.settings,
.feedback,
.paylist,
.othersee,
.help,
.helpshow,
.paylist,
.my_live,
.my_rules,
.my_month,
.s_list
{
    background: #fff
} 
.s_list h4{
    margin: 0 10px;
    font-size: 1.3rem;
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px solid #f4f4f4;
}
/*下载提示*/
.notice_down{ 
    text-align: center;
    color: #585858;
    font-size: 1.066rem;
    padding-bottom: 10px;
    position: relative; 
}
.notice_down .container p,.allnotice a{
    background: #ddeffc;  
    height: 2.2rem;
    line-height: 2.2rem;
}
.notice_down a{
    color: #5cb0e6;
    margin:  0 0.6rem;
}
.allnotice a{
    display: block;
    width:104%; 
    margin-left: -2%;  
    position: relative;
    overflow: hidden;
} 
/*提示*/
.readtipss,.paytipss{
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: none;
} 
.readtipss .retips{
    position: absolute;
    top: 0;
    background: url(../images/readtipss.png) no-repeat center top;
    background-size: 92%;
    width: 100%;
    height: 100%;
}
.paytipss .retips{
    position: absolute;
    top: 0;
    background: url(../images/paytipss.png) no-repeat center top;
    background-size: 92%;
    width: 100%;
    height: 100%;
}
.myreading{
    background: #fff ; 
    padding: 0.8rem 10px;
    margin: 0 auto; 
    text-align: center;
    font-size: 1.06rem; 
    position: relative;
    z-index: 1100; 
    max-width: 730px; 
    color: #dcdcdc;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.myreading a{ 
    color: #44a9f7;
}
.myreading b{ 
    display: inline-block;
    height: 1.06rem;
    width: 1.06rem;
    background: #fff url(../images/myreading.png) no-repeat center; 
    background-size: contain;
    margin-right: 5px;
}
.lookme {
    text-align: center; 
}
/*组合包*/
.lookme .lookgroup{
    display: inline-block;
    padding: 10px 0 10px 18px;
    color: #fd8c02;
    font-size: 1.1rem;
    line-height: normal;
    text-indent: 0;
    background:  url(../images/g04.png) no-repeat left center; 
    background-size: auto 40% ;
}

/*男频头部推荐*/
.topads{max-width:750px;margin:0 auto;background:#ffefd1;position:relative;z-index: 100000;width: 100%;left: 0;right:0; }.topads .left{width:17%;}.topads .left img{position:relative;top: 0.1rem}.topads .center{width:60%;}.topads h3{color:#234c78;font-size:1.24rem;padding:2.55% 0 3px;}.topads p{color:#656f7a;font-size:1rem;padding-left:5px;}.topads h3,.topads p{white-space:nowrap;word-break:break-all;text-overflow:ellipsis;overflow:hidden;}.topads .right{width:23%;-webkit-box-sizing:border-box;box-sizing:border-box;padding-right:5px;}.topads .right a{display:block;background:#386da6;-webkit-border-radius:50px;border-radius:50px;color:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;padding:5px 0;position:relative;top:1.6rem;text-align:center;max-width:68px;}.topads #closes{position:absolute;top:0;right:0;background:url(../images/topclose.png) no-repeat center;background-size:contain;width:1.8rem;height:1.8rem;text-indent:-999em;}
/*女频头部推荐*/
.topads_girl{max-width:750px;margin:0 auto;background:#ffefd1;position:relative;z-index: 100000;width: 100%;left: 0;right:0; }.topads_girl .left{width:17%;}.topads_girl .left img{position:relative;}.topads_girl .center{width:60%;}.topads_girl h3{color:#b0504b;font-size:1.24rem;padding:4px 0 3px;}.topads_girl p{color:#b57f7c;font-size:1rem;padding-left:5px;}.topads_girl h3,.topads_girl p{white-space:nowrap;word-break:break-all;text-overflow:ellipsis;overflow:hidden;}.topads_girl .right{width:23%;-webkit-box-sizing:border-box;box-sizing:border-box;padding-right:5px;}.topads_girl .right a{display:block;background:#ff98ac;-webkit-border-radius:50px;border-radius:50px;color:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;padding:5px 0;position:relative;top:1.6rem;text-align:center;max-width:68px;}.topads_girl #closes{position:absolute;top:0;right:0;background:url(../images/topclose.png) no-repeat center;background-size:contain;width:1.8rem;height:1.8rem;text-indent:-999em;}