@charset "utf-8";.layout{margin:0
auto;padding:25px
0;width:1000px;clear:both;background:#fff}.layout a:hover{color:#50ADAD}.layout:after{clear:both;content:"";display:table}.layout_left{width:720px;float:left}.layout_l_left{width:225px;float:left}.layout_l_right{width:460px;float:right}.layout_right{width:240px;float:right}.layout_mid{width:450px;float:left}.sidebar{width:255px}.hd{height:33px;line-height:30px;font-size:12px;width:240px;height:48px;text-indent:9999px;overflow:hidden;background:url(/sink/image/p_bg.png) no-repeat;display:block}.hd a, .hd a:hover{color:#b5592c;text-decoration:none}.rankTitBox
h3{font:20px/42px '\5FAE\8F6F\96C5\9ED1';border-bottom:3px solid #50ADAD}.rankTitBox h3
span{color:#50ADAD;font-size:18px}.rankTitBox .fr
span{width:50px;height:35px;display:inline-block;margin-top:7px;font:14px/35px '\5FAE\8F6F\96C5\9ED1';text-align:center;cursor:pointer}.rankTitBox .fr
span.tabCur{background:#50ADAD;color:#FFF}.mt50{margin-top:50px}.bookinfo
img{float:left;margin-right:20px;display:inline}.bookinfo
h4{font-weight:bold;line-height:22px}.bookinfo
p{line-height:22px;color:#999}.bookinfo
.keep_num{color:#999;text-align:left}.bookinfo .keep_num
em{float:none}.choose_area{padding:0
10px;width:982px;margin:0
auto;background:#f2f2f2;border-top:1px solid #DDD}.select_area_head{padding:10px
0}.select_area_head h3
span{color:#666;margin-left:28px}.select_area{width:982px;margin:0
auto;font-size:14px;padding:4px
0 12px;background:#f2f2f2;clear:both}.select_area
dl{border-bottom:1px dotted #d8d6d6;line-height:23px;padding:10px
0;overflow:hidden;zoom:1;background:#f2f2f2}.select_area dl.selectTagList a, .select_area dl.selectTagList a:hover{border:1px
solid #CCC;background:#FFF;color:#333;padding-right:20px;position:relative}.select_area dl.selectTagList a:hover{border:1px
solid #50ADAD}.select_area dl.selectTagList a
i{background:url(/sink/image/ico/del.png) no-repeat;width:7px;height:7px;position:absolute;top:8px;right:5px}.select_area
dl.smallTag{font-size:12px}.select_area dl.fenzhan
a{margin-left:13px}.select_area dl.fenzhan a
img{border:1px
solid #CCC}.select_area dl.fenzhan a
img.act{border:1px
solid #50ADAD}.select_area
dl.sort{padding:10px
0 0 0}.select_area
dl.un_line{border-bottom:0}.select_area dl
dd.subclass{display:inline-block;width:912px;margin-bottom:10px;padding:6px
0 6px 85px;background:#e9e9e9;position:relative}.select_area dl dd.subclass
strong{position:absolute;left:10px;color:#666}.alain{margin-right:29px}.select_area a.active, .select_area a.active:hover{display:inline-block;margin:0
3px;padding:0
5px;background:#50ADAD;color:#fff}.select_area dl
dt{width:75px;float:left;text-align:right;color:#666;font-weight:bold}.select_area dl
dd{width:880px;padding-left:10px;float:left;display:block}.select_area dl dd.sortLink
a{min-width:56px;_width:56px;padding:0
5px;text-align:center}.select_area dl dd a, .subclass a, .select_area dl dd a:hover, .subclass a:hover{margin:0
3px 3px;color:#333;display:inline-block;padding:0
5px}.select_area dl dd a:hover{background:#50ADAD;color:#fff}.select_area dl dd
a.showBtn{color:#BE2738}.select_area dl dd a.showBtn:hover{background:none;color:#BE2738;text-decoration:underline}.select_area dl
dd.showBox{padding:0
0 5px 84px;line-height:2;display:none}.select_area dl
dd.tag_list{float:left;width:880px;line-height:23px;padding-bottom:12px}.tag_list
a{padding:0}.tag_list
a.active{position:relative;display:inline-block}span.tag_active{display:inline-block;width:7px;height:4px;overflow:hidden;position:absolute;left:50%;_left:25px;margin-left:-4px;top:23px;text-align:center;background:url(/sink/image/p_bg.png) 0 -180px;z-index:999}.mainstore{width:720px;float:left}.mainstore
h2{line-height:28px;border-top:1px solid #dfdfdf;background:#f9f9f9;text-align:right;padding-right:10px}.mainstore
.book_info{width:605px;float:left}.mainstore .book_info dl
dd{display:block;width:570px;zoom:1;float:left}.mainstore .book_info_store
.author{width:130px;overflow:hidden}.mainstore .book_info_store
.book_sort{width:80px}.mainstore .book_info_store
.book_click{width:80px}.mainstore
.book_info_store{width:720px}.search_result{margin:0
auto;overflow:hidden}.search_none{width:400px;height:50px;background:url(/sink/image/intro_bg.png) no-repeat 0 -470px;text-indent:60px;font:normal 18px/40px microsoft yahei;color:#666;margin:80px
auto 0 auto}.sxts{width:170px;height:27px;margin-bottom:15px;_background:url(/sink/image/p_bg.png) no-repeat -50px -185px}.sxts
h3{font:20px/42px '\5FAE\8F6F\96C5\9ED1';margin-bottom:5px}.sxts h3
span{color:#50ADAD;font-size:18px}.book{padding:15px
0;margin-bottom:5px;border-bottom:1px solid #ddd;color:#333;overflow:hidden;*zoom:1}.guess{color:#333;font-weight:bold}.book
img{width:95px;height:140px;float:left;margin-right:20px}.book_info{width:630px;float:left}.book_info_store{width:745px;line-height:36px;clear:both;overflow:hidden}.book_info_store
li{overflow:hidden;zoom:1;clear:both;height:44px;line-height:44px;border-bottom:1px solid #ddd}.book_info_store
.book_sort{width:55px;float:left;text-align:center}.book_info_store
.author{width:155px;float:left;color:#999;overflow:hidden}.book_info_store
.book_click{width:100px;float:left;color:#252525;text-align:right}.book_info_store
p{overflow:hidden;margin-bottom:10px;zoom:1}.book_info_store
dl{color:#8b8b8b}.book_info_store
dd{color:#333}.s_tag a, .s_tag a:hover{margin-right:10px;text-decoration:none;color:#b5592c}.store_page{color:#666;font-size:12px;margin-left:5px}.book_info dl
dd.w_store{width:640px;line-height:24px;height:48px;overflow:hidden}.book_info h3, .book_info
h4{font-size:14px;font-weight:bold;line-height:29px;margin-bottom:5px}.book_info h3
.btn_a{float:right;font-size:12px;font-weight:normal}.book_info h3 .btn_a
a{color:#fff;background:#B2D8D8;display:inline-block;width:65px;height:29px;line-height:29px;text-align:center;margin-left:10px}.book_info h3 .btn_a
a.active{background:#50ADAD}.book_info_store
h4{font-weight:normal;width:400px;padding-left:15px;float:left;line-height:44px}.book_info_store
h4.name_pro{width:480px}.book_info_store h4
a{font-weight:bold}.book_title{height:30px;overflow:hidden;background:#f8f8f8}.book_title h4, .book_title .author, .book_title .book_sort, .book_title
.book_click{font:bold 14px/44px Arial;color:#999;background:#f8f8f8}.search_result
em{color:#9e3a3a;font-weight:bold}.book_info
dl{line-height:22px;clear:both;overflow:hidden}.book_info dl
dt{float:left;color:#999}.book_info
.gray{color:#737373}.book_info dl
dd{display:block;width:592px;zoom:1;float:left}.book_info dl
dd.book_intro{overflow:hidden;color:#252525;line-height:22px}.book_info dl dd.book_intro
a{color:#666;display:inline-block;width:40px;margin-left:5px}.book_info dl dd.book_intro a:hover{color:#ba2636}.book_info dl dd.book_intro
p{line-height:22px;margin:0;padding:0}.book_info dl
dd.w_auth{width:140px}.book_info dl
dd.auth{width:130px;height:22px;overflow:hidden}.book_info dl dt
span{margin-right:1em}.book_info p
a{width:58px;height:23px;line-height:23px;background:url(/sink/image/search_main.png) no-repeat 0 -64px;display:inline-block;float:left;text-align:center;margin-right:10px;margin-top:10px}.book_info p a, .book_info p a:hover{color:#b5592c}.icon_v,.icon_hot,.icon_j{width:16px;height:16px;overflow:hidden;display:inline-block;background:#ccc url(/sink/image/newcommon.png?v=2) 0 -40px;margin-left:5px;margin-bottom:-3px;_margin-top:9px}.icon_hot{background-position:-16px -40px}.icon_j{background-position:-32px -40px}.ad90{width:1000px;height:90px;overflow:hidden;clear:both;margin:0
auto;background:#f2f2f2;line-height:90px;text-align:center}.page_wrap{clear:both;padding:20px
0 10px 0;font-family:Verdana,Geneva,sans-serif;overflow:hidden;zoom:1}.page_review{float:left;line-height:28px;padding-left:10px}.paginator{overflow:hidden;position:relative}.paginator a, .paginator
span{float:left;width:36px;height:39px;margin:0
5px 0 0;text-align:center;white-space:nowrap;vertical-align:middle;line-height:39px;font-weight:bold;font-family:arial;font-size:12px}.page_wrap .paginator
a{color:#fff}.page_wrap .paginator a:hover{background:#50ADAD}.paginator
b{font-family:"ו";font-size:16px}.paginator .page-start, .paginator a, .paginator .page-end{background:#CCC;color:#fff;width:36px;height:39px}.paginator .page-end{border-color:#d9d9d9;color:#939393;margin:0}.paginator
.current{background:#50ADAD;color:#fff;font-weight:bold;width:36px;height:39px}.paginator .page-this{background:#50ADAD;color:#fff;font-weight:bold;width:36px;height:39px}.paginator .page-break{padding:0
3px;border:1px
solid #fff}.page-all{line-height:20px}.page_more{color:#999}.menu_tit h3, .menu_tit h3.active, .sysc_tit em b, .sysc_tit em
b.list_b{background:url(/sink/image/r_icon.png) no-repeat}.rank_left{float:left;width:225px}.rank_right{float:right;width:745px}.scb_tit{border-bottom:3px solid #324f4f}.scb_tit
span{display:block;font-size:20px;font-family:microsoftyahei;height:27px;padding-bottom:10px;line-height:27px}.menu_tit{background:#f2f2f2}.menu_tit
h3{height:42px;line-height:42px;border-bottom:1px solid #dadada;background-position:190px -74px;cursor:pointer;font-weight:400;text-align:center;background-position:190px -148px;color:#50ADAD}.menu_tit
h3.bg_h3{background:#50ADAD;color:#FFF}.menu_tit h3.frist_h3
a{display:block;color:#50ADAD}.menu_tit
h3.frist_active{color:#fff;background:none;background:#50ADAD;cursor:pointer}.menu_tit h3.frist_active
a{color:#fff}.menu_tit
h3.active{color:#333;font-weight:400;background-position:190px -74px}.menu_tit ul
li{height:39px;line-height:39px;background:#f2f2f2}.menu_tit ul
li{border-bottom:1px dashed #ebeaea}.menu_tit ul li
a{display:block;padding-left:85px}.menu_tit ul li.active a:hover{_color:#FFF}.menu_tit ul
li.last_li{border-bottom:1px solid #dadada}.menu_tit ul
li.active{font-weight:bold;border-bottom:0;background:url(/sink/image/yq_r_li_icon.png) no-repeat 193px 13px}.menu_tit ul li.active
a{color:#50ADAD}.last
h3{border-bottom:0}.sysc_tit{border-bottom:3px solid #50ADAD}.sysc_tit
span{display:block;font-size:20px;font-family:microsoftyahei;height:37px;line-height:37px;float:left}.sysc_tit
em{float:right;width:215px}.sysc_tit em
b{float:right;background-position:0 -47px;width:51px;height:27px;display:block;position:relative}.sysc_tit em
b.list_b{background-position:-119px -48px}.sysc_tit em b
.a_1{position:absolute;display:block;width:25px;height:26px}.sysc_tit em b
.a_2{position:absolute;display:block;width:25px;height:26px;left:25px}.text_1{width:145px;height:27px;line-height:27px;margin-right:15px;border:1px
solid #d0d0d0;font-size:14px}.fl_link{background:#f8f8f8;font-size:14px;padding:8px
0;border-bottom:1px solid #DADADA}.fl_link
b{color:#666;margin-left:10px}.fl_link
a{color:#333;height:23px;line-height:23px;display:inline-block;text-align:center;padding:0
12px}.fl_link
a.last_link{padding-right:0}.fl_link
a.act{color:#fff;background:#50ADAD}.tit_tab{float:left;margin-left:20px}.tit_tab
li{float:left;width:60px;height:40px;line-height:40px;text-align:center;cursor:pointer}.tit_tab
li.act{background:#50ADAD;font-weight:bold}.tit_tab li.act
a{color:#fff}.yq
.logo{margin-right:150px}.yq .search-btn{background:url(/sink/image/w_sec.gif) no-repeat}.yq .head_nav, .yq .paginator .page-this, .yq a.comment_btn, .yq .footer_main span, .yq .bd .toprank, .yq .book_btn a.active, .yq .nav_ul, .yq .page_wrap .paginator a:hover, .yq a.go_top, .yq .book_info h3 .btn_a
a.active{background:#50ADAD}.yq .nav_ul
li.active{background:#933645}.yq .nav_ul li a:hover{background:#933645;color:#fff}.yq .header .head_right
a{color:#534d5e}.yq .book_btn
a{background:#B2D8D8}.yq .book_share
a{background:0}.yq .read_tab ul
li.active{background:#50ADAD;border:1px
solid #50ADAD}.yq .paginator .page-start, .yq .paginator a, .yq .paginator .page-end, .yq .go_page
a.pagebtn{background:#CCC}.yq
.footer_main{border-top:3px solid #50ADAD}.yq .select_area a.active, .yq .select_area a.active:hover{background:#50ADAD;color:#fff}.yq .select_area dl dd a, .yq .subclass a, .yq .select_area dl dd a:hover, .yq .subclass a:hover{color:#252525}.yq .select_area dl dd a:hover{background:#50ADAD;color:#fff}.yq
span.tag_active{background-position:0 -185px}.yq .book_info h3 .btn_a
a{background:#B2D8D8}.yq .menu_tit
h3.active{background:url(/sink/image/r_icon.png) no-repeat 190px -146px;font-weight:bold;color:#933544;cursor:pointer}.yq .menu_tit ul
li.active{background:#933544 url(/sink/image/yq_r_li_icon.png) no-repeat 193px 8px}.yq .tit_tab
li.act{background:#50ADAD}.yq
.sysc_tit{border-bottom:3px solid #50ADAD}.yq .menu_tit
h3.frist_active{background:#933645}.yq .fl_link
a{color:#252525}.yq .fl_link
a.act{background:#50ADAD;color:#FFF}.channelList{width:240px}.channelList
li{line-height:39px}.channelList li
span{margin-top:12px}.channelList li
a{width:auto}.channelList .detailWrap
span{margin-top:7px}.hotRankList{float:left;width:230px}.hotRankList .rankHover li
a{width:168px}