{?set jieqi_blocks_module = "obook"?}
{?set jieqi_blocks_config = "authorblocks"?}
{?set jieqi_page_rows = "30"?}
<style>
/* table */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
table.fix {
	table-layout: fixed;
}
table.fix td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
table.grid {
	border: 1px solid #d2d2d2;
	background: #fff;
}
table.grid caption, .gridtop {
	height: 2.5em;
	line-height: 2.5em;
	background: #fff;
	border: 1px solid #d2d2d2;
	_border-right: 1px solid #d2d2d2;
	_border-bottom: 1px solid #d2d2d2;
	font-weight: bold;
	font-size: 18px;
	color: #239eda;
	text-align: left;
	padding-left: 10px;

}
table.grid th {
	border-bottom: 1px solid #d2d2d2;
	color: #666666;
	line-height: 2.5;
	padding: 0 0.3em;
	text-align: center;
}
table.grid tr {
	border-bottom: 1px dashed #dedede;
}
table.grid td {
	padding: 0.4em;
}
table.hide, table.hide caption, table.hide tr, table.hide th, table.hide td, table.nb {
	border: 0;
}
/* table add-ons */
</style>
<div class="container">
	<div class="mod block form">
		<div class="hd">
			<h4>章节销售记录</h4>
</div>
<div class="bd">
<table class="grid" width="100%" align="center">
  <tr align="center">
    <th width="20%">书名</th>
    <th width="20%">章节</th>
    <th width="20%">价格</th>
    <th width="20%">购买人</th>
    <th width="20%">购买日期</th>
  </tr>
  {?section name=i loop=$osalerows?}
  <tr>
    <td><a href="{?$obook_dynamic_url?}/obookinfo.php?id={?$osalerows[i].obookid?}" target="_blank">{?$osalerows[i].obookname?}</a></td>
    <td><a href="{?$obook_static_url?}/reader.php?oid={?$osalerows[i].obookid?}&cid={?$osalerows[i].ochapterid?}" target="_blank">{?$osalerows[i].chaptername?}</a></td>
    <td align="center">{?$osalerows[i].saleprice?}</td>
    <td align="center"><a href="{?function jieqi_geturl:'system':'user':$osalerows[i].accountid?}" target="_blank">{?$osalerows[i].account?}</a></td>
    <td align="center">{?$osalerows[i].buytime|date:'Y-m-d H:i:s'?}</td>
  </tr>
  {?/section?}
</table>
</div>
<div class="pages">{?$url_jumppage?}</div>
</div>
</div>
