{?set jieqi_blocks_module = "obook"?}
{?set jieqi_blocks_config = "authorblocks"?}
{?set jieqi_page_rows = "30"?}
<style>
/* table */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
table.fix {
	table-layout: fixed;
}
table.fix td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
table.grid {
	border: 1px solid #d2d2d2;
	background: #fff;
}
table.grid caption, .gridtop {
	height: 2.5em;
	line-height: 2.5em;
	background: #fff;
	border: 1px solid #d2d2d2;
	_border-right: 1px solid #d2d2d2;
	_border-bottom: 1px solid #d2d2d2;
	font-weight: bold;
	font-size: 18px;
	color: #239eda;
	text-align: left;
	padding-left: 10px;

}
table.grid th {
	border-bottom: 1px solid #d2d2d2;
	color: #666666;
	line-height: 2.5;
	padding: 0 0.3em;
	text-align: center;
}
table.grid tr {
	border-bottom: 1px dashed #dedede;
}
table.grid td {
	padding: 0.4em;
}
table.hide, table.hide caption, table.hide tr, table.hide th, table.hide td, table.nb {
	border: 0;
}
/* table add-ons */
</style>
<div class="container">
	<div class="mod block form">
		<div class="hd">
			<h4>管理收入</h4>
</div>
<div class="bd">
<table class="grid" width="100%" align="center">
<caption>我的作品收入管理</caption>
  <tr align="center">
    <th width="23%">书名</th>
	<th width="10%">打赏</th>
    <th width="10%">总收</th>
    <th width="10%">待结</th>
    <th width="35%">管理</th>
  </tr>
  {?section name=i loop=$obookrows?}
  <tr>
    <td><a href="{?function jieqi_geturl:'article':'article':$obookrows[i].articleid:'info'?}" target="_blank">{?$obookrows[i].obookname?}</a></td>
	<td align="center">{?$obookrows[i].sumtip?}</td>
    <td align="center">{?$obookrows[i].sumemoney?}</td>
    <td align="center">{?$obookrows[i].remainemoney?}</td>
    <td align="center"><a href="{?$obook_dynamic_url?}/chapterstat.php?oid={?$obookrows[i].obookid?}">销售明细</a> <a href="{?$obook_dynamic_url?}/paidlog.php?oid={?$obookrows[i].obookid?}">结算记录</a></td>
  </tr>
  {?/section?}
</table>
</div>
<div class="pages">{?$url_jumppage?}</div>
</div>
</div>
