{?set jieqi_page_rows = "50"?}
<table class="grid" width="100%" align="center">
    <tr>
      <td>
	  <form name="frmsearch" method="get" action="{?$obook_dynamic_url?}/admin/mreport.php">
	  书名：<input name="obookname" type="text" size="20" maxlength="60" class="text" value="{?$_request['obookname']?}">
	  &nbsp; 作者：<input name="author" type="text" size="20" maxlength="30" class="text" value="{?$_request['author']?}">
	  &nbsp; 月份：<input name="reportmonth" type="text" class="text" size="10" maxlength="10" value="{?$_request['reportmonth']?}">
	  &nbsp; <input type="submit" name="Submit" value="搜  索" class="button">
	  月份格式：201205
	  </form>
	  </td>
	  <form name="frmsearch" method="post" action="{?$obook_dynamic_url?}/admin/mreport.php">
	  <td rowspan="2" align="right">
	  选择平台：
	  <select name="sites">
	      {?section name=i loop=$customsites?}
  <option value="{?$i['key']?}">{?$customsites[i].name?}</option>
  {?/section?}
	  </select>
	  选择年月：
	  <select name="ryear">
	  {?section name=i loop=$ryearrows?}
	  <option value="{?$ryearrows[i]?}"{?if $ryearrows[i] == $dyear?} selected="selected"{?/if?}>{?$ryearrows[i]?}年</option>
	  {?/section?}
	  </select>
	  <select name="rmonth">
	  {?section name=i loop=$rmonthrows?}
	  <option value="{?$rmonthrows[i]?}"{?if $rmonthrows[i] == $dmonth?} selected="selected"{?/if?}>{?$rmonthrows[i]?}月</option>
	  {?/section?}
	  </select>
	  <input type="hidden" name="act" value="make" />{?$jieqi_token_input?}
	  <input type="submit" name="btnsearch" class="button" value="生成月报表">
	  <p class="hot">注意：只能生成本月之前的报表，如果数据较多，点击生成后请耐心等待！</p>
	  </form>
	  </td>
    </tr>
	<tr>
		<td>
		总记录数：{?$mreportstat['cot']?}， 总订阅：{?$mreportstat['sumegold']|intval?}， 总打赏：{?$mreportstat['sumtip']|intval?}， 总收入：{?$mreportstat['sumemoney']|intval?}
		</td>
	</tr>
</table>


<table class="grid" width="100%" align="center">
<caption>
第三方平台销售统计
</caption>
  <tr align="center">
    <th width="15%">统计月份</th>
    <th width="25%">电子书名称</th>
    <th width="15%">作者</th>
    <th width="15%">总订阅</th>
	<th width="15%">总打赏</th>
    <th width="15%">总收入</th>
  </tr>
  <tbody id="jieqi_page_contents">
  {?section name=i loop=$mreportrows?}
  <tr>
    <td align="center">{?$mreportrows[i].reportmonth?}</td>
    <td><a href="{?function jieqi_geturl:'article':'article':$mreportrows[i].articleid:'info'?}" target="_blank">{?$mreportrows[i].obookname?}</a></td>
    <td>{?if $mreportrows[i].authorid == 0?}{?$mreportrows[i].author?}{?else?}<a href="{?$jieqi_url?}/admin/personmanage.php?id={?$mreportrows[i].authorid?}" target="_blank">{?$mreportrows[i].author?}</a>{?/if?}</td>
    <td align="center">{?$mreportrows[i].sumegold?}</td>
	<td align="center">{?$mreportrows[i].sumtip?}</td>
    <td align="center">{?$mreportrows[i].sumemoney?}</td>
  </tr>
  {?/section?}
  </tbody>
</table>
<div class="pages">{?$url_jumppage?}</div>