/* basic */
*{
	margin: 0px;
	padding: 0px;
}

body{
	color:#333333;
	background: #ffffff;
	text-align: center;
	font: 12px/1.6 "Microsoft YaHei",SimSun,Verdana,Arial,sans-serif;
}

a{
	color: #333333;
	text-decoration: none;
	background-color: transparent;
}

a:hover{
	color: #ff6600;
	text-decoration : underline;
}

span, p{
}

h1, h2, h3, h4, h5, h6{
	font-size: 16px;
}

img{
	border: 0px;
}

div{
	text-align: left;
}

hr{
	height: 1px;
	border: 1px solid #dddddd;
	clear: both;
	margin: 5px 0px;
}

ul{
	list-style: none;
	text-align: left;
}

li{
	
}

/* table */
table{
	text-align: left; 
}

table td{
}

table.fix{
	table-layout: fixed;
}

table.fix td{
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}

table.grid{
	border-collapse: collapse;
	border: 1px solid #ebebeb;
	margin: 0 auto 10px auto;
	background: #ffffff;
}

table.grid caption, .gridtop{
	height: 40px; 
	line-height: 40px; 
	border: 1px solid #ebebeb;
	border-top: 2px solid #17a2e7;
	background: #fcfcfc;
	text-align: center;
	color:#017AB6;
	font-weight: bold;
	font-size: 16px;
	margin: auto;
}

table.grid th, .head{
	border-bottom: 1px solid #ebebeb;
	background: #f9f9f9;
	color:#666666;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding: 5px;
	line-height: 200%;
}

table.grid td{
	border-bottom: 1px dashed #ebebeb;
	padding: 5px;
	line-height: 200%;
}

table.hide, table.hide th, table.hide td{
	border: 0;
}

/* table add-ons */

.title{
	background: #d4d2d2;
	text-align: center;
	padding: 3px;
	color:#666666;
	font-weight: bold;
	font-size: 14px;
}

.even{
	background: #ffffff; 
}

.odd{
	background: #ffffff; 
}

.foot{
	background: #f5f5f5; 
	text-align: center;
}

.bottom{
	height: 9px;
	background: #b7b785; 
}

.tdl{
	background: #f9f9f9; 
	text-align: right;
}

.tdr{
	background-color: #ffffff; 
}

/* form */

form{}

input{vertical-align:middle;}

.text{
	border: 1px solid #dddddd; 
	background: #ffffff;
	color: #666666;
	height: 20px;
	line-height: 20px;
	vertical-align:middle;
}

.textarea{
	border: 1px solid #dddddd; 
	background: #ffffff;
	color: #666666; 
}

.button{
	background: #39b7e9 url("images/button.gif") repeat-x;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #39b7e9;
	height: 26px;
	line-height: 26px;
	padding:0px 10px;
	cursor: pointer;
	vertical-align: center;
}

.checkbox, .radio{border-width: 0px;margin-right:2px;}

.select{height: 21px; vertical-align:middle;}

.file{
	border: 1px solid #dddddd; 
	background: #ffffff;
	color: #000000;
	height: 20px;
	line-height: 20px;
}
.filebutton{
	background: #e5edf2;
	color: #666666;
	border: 1px solid #dedede;
	height: 20px;
	line-height: 20px;
	padding: 0px 6px;
	margin-left:10px;
	cursor: pointer;
}
.filediv{margin-top:5px;}

/* structure */
#left, .left{
	float: left;
	width: 200px;
	margin-right:10px;
}

#right, .right{
	float: right;
	width: 200px;
}

#centers, .centers{
	float: left;
	width: 580px;
}

#centerm, .centerm{
	float: left;
	width: 790px;
}

#centerl, .centerl{
	float: left;
	width: 1000px;
}

#cleft, .cleft{
	float: left;
	width: 495px;
	_height: 0;
}

#cright, .cright{
	float: right;
	width: 495px;
	_height: 0;
}

#content{

}

.main{
	width: 1000px;
	clear: both;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	_height: 0;
}

.m_top{
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	margin-bottom: 5px;
	background: #f5f5f5;
	border-bottom: 1px solid #ebebeb;
}

.m_head{
	height: 60px;
	margin: 10px auto;
}

.h_logo{
	float:left;
	width:180px;
}

.h_banner{
	float:left;
}

.h_link{
	float:right;
	width:90px;
	padding-top:6px;
}

.m_nav{
	height: 40px;
	line-height: 40px;
	background: #17a2e7 url("images/m_nav.gif") repeat-x;
}
.m_nav a{
	display: block;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
	padding: 0px 15px;
	text-decoration: none;
}
.m_nav a:link, .m_nav a:visited, .m_nav a:hover{
	color: #ffffff;
}
.m_nav li{
	list-style-type: none;
	float: left;
	background: url("images/m_nav.gif") no-repeat 100% 100%;
}
.m_nav li a:hover{
	text-decoration: underline;
}

.m_link{
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #dddddd;
	background: #f5f5f5;
	border-bottom: 1px solid #d4d2d2;
}
.m_link a{
	text-align: center;
	font-size: 12px;
	font-family: SimSun,Verdana,Arial,sans-serif;
	line-height: 30px;
	padding: 0px 15px;
	text-decoration: none;
}
.m_link a:link, .m_link a:visited{
	color: #333333;
}
.m_link a:hover{
	color: #ff6600;
	text-decoration : underline;
}

.m_middle{
	background: #f2f2f2;
	padding: 15px 0px;
}

.m_foot{
	border-top:1px solid #dee0e1;
	color: #979797;
	text-align:center;
	padding: 15px 0px;
	line-height:180%;
	clear: both;
}

.block{
	border: 1px solid #d4d2d2;
	margin-bottom: 10px;
	background: #ffffff url("images/title.gif");
	overflow: hidden;
	_height: 0;
}

.blocktitle{
	height: 36px; 
	line-height: 36px; 
	font-size: 15px;
	color: #017AB6; 
	padding-left: 10px;
	margin: 0 5px;
	border-bottom: 1px solid #ebebeb;
}

.blocktitle ul{height:25px; margin:11px 0 0 0; padding:0px;float:right;}
.blocktitle li{float:left; height:24px; list-style:none; margin-right:3px;}
.blocktitle li a{float:left; height:24px; line-height:24px; padding:0px 5px; display:block; font-weight:normal; background:#f0f0f0; text-decoration:none; color:#000000; border:1px solid #dddddd; border-bottom:none; }
.blocktitle li a.selected{font-weight:bold; background:#ffffff; border-top:2px solid #458fce; height:24px; position:relative; margin-bottom:-1px;}

.blockcontent{
	padding: 8px;
	background: #ffffff;
}

.blocknote{
	border-top: 1px solid #dddddd;
	padding: 3px;
	text-align: center;
	background: #fbfbfb;
	line-height: 150%;
}


#centers .block{
	border-top: 2px solid #458fce;
}

/* custom */
.ultop, .ullist, .ulnav, .ulmul, .ulnum{list-style:none;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:200%;}
.ultop li{list-style: decimal inside; margin:5px 3px; border-bottom: 1px dashed #d8e4ef; color: #666666;}
.ultop li a{color: #017AB6;}
.ullist li{}
.ullist li a{}
.ulitem li{list-style:none;padding-left:5px; }
.ulrow li{padding:5px;}
.ulcenter li{text-align: center; font-size:14px;}
.ulnav{margin-left: 10px; font-size: 14px;}
.ulnav li{list-style:none; background:url("images/dot.gif") left 50% no-repeat; text-indent: 18px; line-height: 180%;}
.ulnum li{list-style:none; margin:5px 3px;}
.ulnum li em{background:#ff9900;color:#ffffff;display:inline-block;border:1px solid #ff6600;width:16px;height:14px;line-height:14px;text-align:center;margin-right:5px;font-style:normal;}
.libleft{float:left;width:125px;overflow: hidden;}
.libright{float:right;width:50px;overflow:hidden;color:#989898;text-align:right;}

.fix, .lm{white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:left;}
.cr{clear:right;}
.cb{clear:both; font-size:0px; height:0px; overflow:hidden;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.more, .more a, a.more{display:block;color:#aaaaaa;text-align:right;margin-right:5px;line-height:200%;}
.moretop, .moretop a, a.moretop{display:block;margin:-44px 0 8px 0;height:36px;line-height:36px;color:#aaaaaa;text-align:right;margin-right:5px;}

.c_navigation{
	margin-bottom: 5px; 
	line-height: 36px; 
	font-weight: bold;
	font-size: 14px;
	border:1px solid #dedede; 
	background: #eff4f6 url("images/navbg.gif") repeat-x;
	padding-left:10px;
}


.c_title{
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 300%;
}
.c_head{
	line-height: 150%;
	padding: 5px;
	border-bottom: 1px solid #E4E4E4;
}
.c_content{
	font-size: 14px;
	line-height: 150%;
	padding: 20px;
}
.c_foot{
	line-height: 150%; list-style:none
}
.c_label{
	font-weight: bold;
}
.c_value{
	color:#666666;margin-right:20px;
}

.c_row{border-bottom:1px dashed #d4d2d2;padding:5px;}
.c_subject{font-size:14px; font-weight:bold;line-height:200%;}
.c_subject a{font-weight:bold;color: #0B65A7;}
.c_tag{}
.c_description{}
.c_note{}

/* attention */

.hottext, a.hottext{color: #c60f13;}
.poptext, a.poptext{color: #266392;}
.notetext, a.notetext{color: #1979cc;}
.errortext, a.errortext{color: #ff0000;}
.red, a.red{color: #bd0102;}
.green, a.green{color: #008000;}
.blue, a.blue{color: #336699;}
.black, a.black{color: #333333;}
.white, a.white{color: #ffffff;}
.gray, a.gray{color: #989898; padding:0 3px;}
.yellow, a.yellow{color: #ffff00;}
.orange, a.orange{color: #ffa500;}

a.btnlink, a.btnlink:visited{display:inline-block;vertical-align:middle;height:26px;line-height:26px;font-size:12px;padding:0px 10px;color:#ffffff;text-align:center;background: #4899e0 url("images/btnlink.gif") repeat-x;border:1px solid #458fce;}
a.btnlink:hover{font-weight:bold;text-decoration:none;position:relative;top:1px;left:1px;}
a.btnlinks, a.btnlinks:visited{display:inline-block;vertical-align:middle;height:18px;line-height:18px;font-size:12px;padding:0px 5px;color:#444444;text-align:center;background: #e5e5e5 url("images/btnlinks.gif") repeat-x;border:1px solid #999999;}
a.btnlinks:hover{color:#ff6600; text-decoration: none;}


/* interface */

.jieqiQuote, .jieqiCode, .jieqiNote{
	border: 1px solid #dddddd; 
	padding: 5px; 
	color: #000000; 
	background: #ffffff;
}

.divbox, .textbox{
	border: 1px solid #dddddd;
	padding: 5px;
	margin-bottom: 10px;
	background: #ffffff;
}

.ajaxtip{
	position:absolute;
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #ff0000;
	font-size: 12px;
	
	padding: 3px 5px;
	z-index:700;
}

.menubox{
	position:absolute;
	border:5px solid #e8e8e8;
	background:#ffffff;
	z-index:800;
	padding:5px;
}

#tips {
	border: 1px solid #dddddd;
	padding: 3px;
	display: none;
	background: #ffffff;
	position: absolute;
	z-index: 900;
}

#dialog{
	position:absolute;
	top:0px;
	left:0px;
	border: 5px solid #d4d2d2;
	background: #f2f2f2;
	font-size: 12px;
	
	padding: 30px 10px 10px 10px;
	visibility: hidden;
}

#mask{
	position:absolute;
	top:0px;
	left:0px;
	background: #777777;
	filter: Alpha(opacity=30);
	opacity: 0.3;
}

.tablist ul{height:30px; margin:0px; padding:0px;}
.tablist li{float:left; height:29px; list-style:none; margin-right:3px;}
.tablist li a{float:left; height:29px; line-height:29px; padding:0px 10px; display:block; font-size:14px; font-weight:normal; background:#f0f0f0; text-decoration:none; color:#000000; border:1px solid #dddddd; border-bottom:none; }
.tablist li a.selected{font-weight:bold; background:#ffffff; border-top:2px solid #458fce; height:29px; position:relative; margin-bottom:-1px;}
.tabcontent{clear:both; border:1px solid #dddddd; padding:10px;}

.pages{
	padding: 5px 0px;
	overflow: auto;
}
.pagelink{
	border: 1px solid #dedede;
	float: right;
	background: #ffffff;
	line-height:30px;
	padding:0;
}
.pagelink a, .pagelink strong, .pagelink em, .pagelink kbd, .pagelink a.first, .pagelink a.last, .pagelink a.prev, .pagelink a.next, .pagelink a.pgroup, .pagelink a.ngroup{
	float: left;
	padding: 0 6px;
}
.pagelink a:hover{background-color: #ffffff; }
.pagelink strong{font-weight: bold; color: #ff6600; background: #d4d2d2;}
.pagelink kbd{height:30px; border-left: 1px solid #dddddd;}
.pagelink em{height:30px; border-right: 1px solid #dddddd; font-style:normal;}
.pagelink input{border: 1px solid #dddddd; color: #666666; margin-top:4px; height: 20px;}

img.avatar{border: 0px;}
img.avatars{width: 48px; height: 48px; background:url("images/avatars_bg.gif") right bottom; padding:3px 7px 7px 3px; cursor:pointer;}
img.avatari{width: 16px; height: 16px; border: 1px solid #d4d2d2;margin-bottom:-3px;}

a.userinfo, a.logout, a.message, a.parlor, a.friend, a.group, a.space, a.bookcase, a.buylog, a.buyegold, a.cart, a.tool, a.set, a.star, a.info, a.question, a.attention, a.notice, a.flag, a.write{background:url("images/uicons.gif") no-repeat; padding-left:20px;}
a.userinfo{background-position:0px 0px;}
a.logout{background-position:0px -20px;}
a.message{background-position:0px -40px;}
a.parlor{background-position:0px -60px;}
a.friend{background-position:0px -80px;}
a.group{background-position:0px -100px;}
a.space{background-position:0px -120px;}
a.bookcase{background-position:0px -140px;}
a.buylog{background-position:0px -160px;}
a.buyegold{background-position:0px -180px;}
a.cart{background-position:0px -200px;}
a.tool{background-position:0px -220px;}
a.set{background-position:0px -240px;}
a.star{background-position:0px -260px;}
a.info{background-position:0px -280px;}
a.question{background-position:0px -300px;}
a.attention{background-position:0px -320px;}
a.notice{background-position:0px -340px;}
a.flag{background-position:0px -360px;}
a.write{background-position:0px -380px;}

.atips {
	position:absolute;
	width: 220px;
	border:1px solid #F0E5BA;
	padding:10px 10px 10px 10px;
	background:#FFFFE9;
	z-index:900;
}
.atips .atc{
	display:inline-block;
	position:absolute;
	top: 5px;
	right:5px;
	width:10px;
	height:10px;
	overflow:hidden;
	outline:thin solid #e0e0e0;
	border:1px solid #ffffff;
	cursor:pointer;
	line-height:10px;
	text-align:center;
	font-size:10px;
	font-weight:bold;
	z-index:100;
}
.atips .att{}
.atips a.atc{color: #c6c6c6;}
.atips a.atc:hover{color: #ffffff; background:#d9d9d9; text-decoration:none;}
.atips .ta{position:absolute;}
.atips .ta em,.atips .ta span{width:17px;height:19px;line-height:21px;color:#F0E5BA;font-family:Simsun;font-size:16px;overflow:hidden;position:absolute;}
.atips .ta span{color:#FFFFE9}
.atips .ta.tp{top:-10px;left:120px;}
.atips .ta.tp em{top:-1px;}
.atips .ta.tp span{top:0;}
.atips .ta.lt{top:30px;left:-8px;}
.atips .ta.lt em{left:-1px;}
.atips .ta.lt span{left:0;}
.atips .ta.rt{top:30px;right:-9px;}
.atips .ta.rt em{right:-1px;}
.atips .ta.rt span{right:0;}