<div class="main">
	<div class="left">
		<div class="block">
			<div class="blocktitle">编辑推荐</div>
			<div class="blockcontent">{?$jieqi_pageblocks['111']['content']?}</div>
		</div>
	</div>

	<div class="centers">
		<div class="block">
			<div class="blocktitle">站务公告</div>
			<div class="blockcontent">{?$jieqi_pageblocks['121']['content']?}</div>
		</div>
	</div>

	<div class="right">
		<div class="block">
			<div class="blocktitle">编辑推荐</div>
			<div class="blockcontent">{?$jieqi_pageblocks['131']['content']?}</div>
		</div>
	</div>
</div>

<div class="main">
	{?$jieqi_pageblocks['200']['content']?}
</div>

<div class="main">
	<div class="left">
		<div class="block">
			<div class="blocktitle">点击榜
				<ul>
				<li><a href="javascript:void(0)" onmouseover="selecttab(this)" class="selected">周</a></li>
				<li><a href="javascript:void(0)" onmouseover="selecttab(this)">月</a></li>
				<li><a href="javascript:void(0)" onmouseover="selecttab(this)">总</a></li>
				</ul>
			</div>
			<div class="blockcontent">
				<div>{?$jieqi_pageblocks['311']['content']?}</div>
				<div style="display:none;">{?$jieqi_pageblocks['312']['content']?}</div>
				<div style="display:none;">{?$jieqi_pageblocks['313']['content']?}</div>
			</div>
		</div>
	</div>

	<div class="centers">
		<div class="block">
			<div class="blocktitle">最近更新</div>
			<div class="blockcontent">{?$jieqi_pageblocks['321']['content']?}</div>
		</div>
	</div>

	<div class="right">
		<div class="block">
			<div class="blocktitle">推荐榜
				<ul>
				<li><a href="javascript:void(0)" onmouseover="selecttab(this)" class="selected">周</a></li>
				<li><a href="javascript:void(0)" onmouseover="selecttab(this)">月</a></li>
				<li><a href="javascript:void(0)" onmouseover="selecttab(this)">总</a></li>
				</ul>
			</div>
			<div class="blockcontent">
				<div>{?$jieqi_pageblocks['331']['content']?}</div>
				<div style="display:none;">{?$jieqi_pageblocks['332']['content']?}</div>
				<div style="display:none;">{?$jieqi_pageblocks['333']['content']?}</div>
			</div>
		</div>
	</div>
</div>
