.index_1 {
float: left;
width: 1000px;
margin-bottom: 0.6em;
}
.mb {
	margin-bottom: 0.6em;
}
.cf:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	float: left;
	margin-right: 1%;
	*margin-right: 1%;
}
.col1 {
	width: 7.4166%;
}
.col2 {
	width: 16.3333%;
}
.col3 {
	width: 24.25%;
}
.col4 {
	width: 32.6666%;
}
.col5 {
	width: 41.0833%;
}
.col6 {
	width: 49.5%;
}
.col7 {
	width: 57.9166%;
}
.col8 {
	width: 66.3333%;
}
.col9 {
	width: 72.9167%;
}
.col10 {
	width: 81.6666%;
}
.col11 {
	width: 91.5833%;
}
.col12 {
	width: 100%;
	float: none;
	margin: 0;
}
.col2 .block{
	border:1px solid #ccc;
}
.last {
	float: right;
	margin-right: 0;
}
.bg {
background: #ececec;
}

/******区块A中间部分******/
.baMit{
	width:400px;
	float:left;
	overflow:hidden;
}
.amitUl{
	height:25px;
	overflow:hidden;
	margin-bottom:10px;
}
.amitLi{
	float:left;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	padding:0 8px;
}
.amitA{
	color:#5aade3;
}
.w95{
	padding:0 20px;
	margin-right: 8px;
	text-align:center;
	background-color:#5aade3;
}
.w95 a{
	color:#fff;
}
.amit215{
	*height:208px;
	overflow:hidden;
	border-bottom: 2px solid #dbdbdb;
}
.amit215 h3{
	line-height:50px;
	vertical-align:middle;
	height:50px;
	color:#ff7200;
	border-bottom:2px solid #dbdbdb;
	text-align:center;
	font-weight:400;
	font-size:18px;
	overflow:hidden;
}
.amit215 h3 a{color:#ff7200;}
.amit215Ul{
	margin-top:15px;
	height:140px;
	overflow:hidden;
}
.amit215Li{
	width:190px;
	float:left;
	height:28px;
	line-height:28px;
	vertical-align:middle;
	overflow:hidden;
	margin-left:5px;
}
.amit215Li span{
	color:#F00;
	margin-right:5px;
	color:#898989;
}
.marr5{
	margin-right:5px;
}
.amitColor1{
	color:#036db7;
}
.mart10{
	margin-bottom:10px;
}
/******统一首页右侧**********/
.copyR{
	width:240px;
	float:right;
	overflow:hidden;
	*height:490px;
}
.rankTabTit {
	height: 40px;
	line-height: 40px;
	background: #f0f1f3;
	border-bottom: 1px solid #626262;
	font-size: 18px;
	color: #2f8fdb;
}
.rankTabTit2 {
	height: 38px;
	line-height: 38px;
	background: #f0f1f3;
	border-bottom: 1px solid #626262;
	font-size: 18px;
	color: #2f8fdb;
	position:relative;
}
.rankTabTit li {
	float: left;
	height: 40px;
	line-height: 40px;
	width: 120px;
	text-align: center;
	cursor: pointer;
}
.rankTop{
	float: left;
	height: 35px;
	line-height: 35px;
	width: 120px;
	text-align: center;
	cursor: pointer;
	position:absolute;
	left:0;
}
.rankTop strong{
	font-weight:normal;
	color:#ff7200;
}
.rankUl{
	width:75px;
	height:25px;
	position:absolute;
	right:0;
	bottom:0;
}
.rankUl li{
	width:25px;
	height:25px;
	float:left;
	font-size:14px;
	color:#626262;
	text-align:center;
	line-height:25px;
	vertical-align:middle;
	cursor:pointer;
}
.rankUl li.on{
	color:#fff;
	background-color:#626262;
}
.rankUl li.ge{
	color:#fff;
	background-color:#623019;
}
.rankTabTit li  strong{
	font-weight:normal;
	color:#ff7200;
}
.rankTabTit li.on {
	border-bottom: 3px solid #626262;
}
.rankLi{
	width:25px;
	height:25px;
}
.BookRankUl {
	width: 240px;
	overflow: hidden;
	font-size: 12px;
}

.BookRankUl li {
	cursor:pointer;
	border-bottom: 1px #ddd solid;
}
.BookRankUl li.on .Rankh3Top,.BookRankUl li.on .Rankh3Top33{
	display:none;
}
.BookRankUl li.nobd{
	border-bottom: none;
}
.Rankh3Top {
	height: 37px;
	line-height: 37px;
	padding-left: 15px;
	padding-right: 10px;
	vertical-align: middle;
	font-size: 12px;
	overflow: hidden;
	font-weight: 700;
	color: #535e82;
}
.Rankh3Top33 {
	height: 33px;
	line-height: 33px;
	padding-left: 15px;
	padding-right: 10px;
	vertical-align: middle;
	font-size: 12px;
	overflow: hidden;
	font-weight: 700;
	color: #535e82;
}
.Rankh3Top b,.Rankh3Top33 b {
	float: left;
	_display: inline;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	color: #fff;
	background: #cdccd2;
	font-weight: 400;
	font-family: Arial, sans-serif;
	margin: 11px 10px 9px 0;
}
.Rankh3Top b.blue ,.Rankh3Top33 b.blue{
	background: #2e90e2;
}
.Rankh3Top33 b.chen{
	background: #ff7200;
}
.Rankh3Top33 b.hong{
	background:#fc0151;
}
.Rankh3Top33 b.ge{
	background:#623019;
	color:#fff !important;
}
.szimgTxt {
	position:relative;
	height: 105px;
	overflow: hidden;
	padding:0 0 0 15px;
}
.szimgTxt b {
	position:absolute;
	left:15px;
	top:10px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	color: #fff;
	background: #cdccd2;
	font-weight: 400;
	font-family: Arial, sans-serif;
}
.szimgTxt b.blue {
	background: #2e90e2;
}
.szimgTxt b.chen {
	background: #ff7200;
}
.szimgTxt b.hong {
	background: #fc0151;
}
.szimgTxt b.ge {
	background: #623019;
	color:#fff !important;
}
.szimgTxt img {
	float: left;
	margin: 10px 10px 0 0;
	height: 85px;
	width: 55px;
}
.szimgTxt p {
	line-height: 24px;
}
.szimgTxt p span {
	color: #939393;
}
.szimgTxt p a {
	display:block;
	line-height:20px;
	font-size: 12px;
	font-weight: 700;
	color: #535e82;
	padding-top:5px;
	margin-bottom:3px;
}
.szimgTxt p a:hover{
	color: #ff7d00;
}
/*********男生频道***********/
.blokB{
	width:960px;
	height:460px;
	padding:10px;
	background-color:#fff;
	margin-bottom:15px;
}
.bbLeft{
	width:695px;
	height:450px;
	float:left;
	overflow:hidden;
}
.bbTitle{
	height:30px;
	overflow:hidden;
	border: 0;
}
.bbTitle h2{
	height:29px;
	line-height:25px;
	vertical-align:middle;
	width:110px;
	float:left;
	overflow:hidden;
	font-weight:400;
	border-bottom:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
}
.bbTitle h2 span{
	font-size:20px;
	float:left;
}
.bbTitle h2 span strong{
	font-weight:normal;
	color:#ff7200;
}
.leftdirections  
{  
    width:0;height:0;  
    line-height:0;  
     border-width: 20px 20px 0px 0px; 
    border-style:solid;  
    border-color: transparent #5aade3 transparent transparent;
     padding: 0;  
     width: 0;  
    height: 0;  
    /* ie6 height fix */  
    font-size: 0;  
    line-height: 0;  
    /* ie6 transparent fix */  
    _border-top-color: #dddddd;  
    _border-bottom-color: #dddddd;  
    _filter: chroma( color = #dddddd);
	float:right;
	margin-top:9px;
}
.leftdirections2
{  
    width:0;height:0;  
    line-height:0;  
     border-width: 20px 20px 0px 0px; 
    border-style:solid;  
    border-color: transparent #fc0151 transparent transparent;
     padding: 0;  
     width: 0;  
    height: 0;  
    /* ie6 height fix */  
    font-size: 0;  
    line-height: 0;  
    /* ie6 transparent fix */  
    _border-top-color: #dddddd;  
    _border-bottom-color: #dddddd;  
    _filter: chroma( color = #dddddd);
	float:right;
	margin-top:9px;
}
.leftdirections3
{  
    width:0;height:0;  
    line-height:0;  
     border-width: 20px 20px 0px 0px; 
    border-style:solid;  
    border-color: transparent #623019 transparent transparent;
     padding: 0;  
     width: 0;  
    height: 0;  
    /* ie6 height fix */  
    font-size: 0;  
    line-height: 0;  
    /* ie6 transparent fix */  
    _border-top-color: #dddddd;  
    _border-bottom-color: #dddddd;  
    _filter: chroma( color = #dddddd);
	float:right;
	margin-top:9px;
}
.ho{
	color:#fc0151 !important;
	 border-color: transparent #fc0151 transparent transparent;
}
.ge{
	color:#623019 !important;
	 border-color: transparent #623019 transparent transparent;
}
.titles {
	position: relative;
	height: 29px;
	border-bottom: 1px solid #bfbfbf;
	z-index:-9999px;
	width:580px;
	float:left;
}
.ulTitle {
	height: 30px;
	position:absolute;
	top:0;
	left:0;
}
.ulTitle li {
	float: left;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	width:78px;
	background-color:#f7f7f7;
	border:1px solid #bfbfbf;
	border-left:none;
}
.ulTitle li.on{
	background-color:#fff;
	border-bottom: 1px solid #fff;
}
.bbtitA{
	width:160px;
	text-align:right;
	display:block;
	float:right;
	color:#58ade3;
	height:29px;
	border-bottom: 1px solid #bfbfbf;
}
.manLeft{
	width:190px;
	height:400px;
	float:left;
	margin-top:20px;
}
.manLeft img{
	width:190px;
	height:270px;
}
.manLeft1{
	width:160px;
	height:400px;
	float:left;
	margin-top:20px;
}
.manLeft1 img{
	width:160px;
	height:270px;
	border: 1px solid #00a2ff;
}
.mainLeftA{
	display:block;
	height:45px;
	line-height:45px;
	vertical-align:middle;
	overflow:hidden;
	text-align:center;
	font-size:16px;
}
.mainLeftP{
	height:75px;
	line-height:24px;
	overflow:hidden;
	font-size:12px;
	text-indent:2em;
	background: #ececec;
}
.manTop{
	width:475px;
	height:299px;
	float:right;
	margin-top:20px;
	border-bottom:1px dashed #c9c9c9;
	overflow:hidden;
}
.manTopli{
	width:210px;
	height:130px;
	float:left;
	overflow:hidden;
}
.mantopImg{
	width:90px;
	height:130px;
	float:left;
}
.mantopA{
	width:95px;
	height:40px;
	margin-bottom:5px;
	line-height:20px;
	vertical-align:middle;
	float:right;
	display:block;
	overflow:hidden;
	font-weight:500;
}
.mantopP{
	width:95px;
	line-height:20px;
	font-size:12px;
	height:80px;
	float:right;
	overflow:hidden;
}
.mantopP a{
	color:#ff7304
}
.marr35{
	margin-right:35px;
}
.marr55{
	margin-left:15px;
}
.mart25{
	margin-top:25px;
}
.manBot{
	width:475px;
	border-bottom:1px dashed #c9c9c9;
	float:right;
	padding:15px 0;
}
.manBot li{
	float:left;
	width:195px;
	height:23px;
	line-height:23px;
	overflow:hidden; 
}

.manBot .Botlil{
	padding-right: 30px;
	margin-right:30px;
	border-right: 1px dashed #c9c9c9;
}
.manBot li span{
	color: #898989;
    margin-right: 5px;
}

/*********男生频道***********/
/**********vip***************/
.vip{
	height:928px;
	width:960px;
	background-color:#fff;
	padding:10px;
	overflow:hidden;
	margin-bottom:15px;
}
.vipLeft{
	position:relative;
	width:695px;
	float:left;
	border:1px solid #cccccc;
	height:928px;
	overflow:hidden;
}
.viplUl{
	width:695px;
	overflow:hidden;
	height:40px;
}
.viplUl li{
	width:231px;
	float:left;
	height:39px;
	line-height:39px;
	vertical-align:middle;
	background-color:#fafafa;
	text-align:center;
	border:1px solid #dddddd;
	border-top:none;
	border-left:none;
	cursor:pointer;
	font-size:16px;
}
.viplUl li.on{
	border-top:4px solid #626262;
	background-color:#fff;
	height:36px;
	line-height:36px;
	vertical-align:middle;
	border-bottom:none;
	color:#1885e0;
}
.conVipUl{
	width:670px;
	margin:auto;
	overflow:hidden;
}
.conVipLi{
	height:29px;
	line-height:29px;
	vertical-align:middle;
	border-bottom:1px dashed #dedede;
	position:relative;
}
.conVipLi2{
	height:29px;
	line-height:29px;
	vertical-align:middle;
	border-bottom:1px solid #dddddd;
	position:relative;
	margin-bottom:10px;
	margin-top:5px;
}
.vipliA{
	width:450px;
	height:29px;
	line-height:29px;
	vertical-align:middle;
	overflow:hidden;
	display:block;
	position:absolute;
	left:0;
}
.vipliA strong{
	font-weight:400;
	margin-right:10px;
	color:#1885e0;
}
.vipliB{
	height:29px;
	line-height:29px;
	vertical-align:middle;
	width:90px;
	display:block;
	position:absolute;
	left:450px;
	overflow:hidden;
}
.vipliC{
	height:29px;
	line-height:29px;
	vertical-align:middle;
	font-size:12px;
	width:110px;
	display:block;
	position:absolute;
	right:0;
	overflow:hidden;
	color:#989898;
}
.vipliC2{
	height:29px;
	line-height:29px;
	vertical-align:middle;
	width:110px;
	display:block;
	position:absolute;
	right:0;
	overflow:hidden;
}
.h460{
	height:470px;
}
.hot, .hottext, a.hot, a.hottext {
	color: #c60f13;
}
/**********vip***************/
/******频道页********/
.cheA{
	width:960px;
	overflow:hidden;
	padding:10px;
	background-color:#fff;
	margin-bottom:15px;
}
.cheLeft{
	width:700px;
	float:left;
	zoom:1;
	overflow:hidden;
}
.chel1{
	height:370px;
	overflow:hidden;
	margin-bottom:20px;
}
.chel1Tit{
	height:25px;
	line-height:20px;
	vertical-align:middle;
	color:#969696;
}
.chel1Tit a{
	color:#969696;
}
.chel1Img{
	width:255px;
	height:340px;
	float:left;
}
.chel1R{
	width:430px;
	height:340px;
	float:right;
}
.chel1R h3{
	height:39px;
	border-bottom:1px solid #239ddc;
	background-color:#eaeaea;
	line-height:39px;
	vertical-align:middle;
	padding-left:15px;
	width:415px;
	font-size:20px;
	font-weight:400;
}
.chel1Ul{
	width:410px;
	padding:0 10px;
	margin-top:15px;
}
.chel1Li{
	line-height:36px;
	margin-bottom:15px;
}
.chel1Li span{
	font-size:26px;
	margin-right:50px;
}
.chel1Li2{
	height:120px;
	overflow:hidden;
}
.chel1Li2 span{
	width:45px;
	display:block;
	float:left;
}
.chel1Li2 p{
	height:110px;
	font-size:12px;
	overflow:hidden;
}
.chel1Li2 p a{
	color:#ff7200;
}
.chel2{
	height:535px;
	background-color:#ffF;
	margin-bottom:20px;
	overflow:hidden;
}
.chel2Tit{
	height:39px;
	border-bottom:1px solid #239ddc;
	background-color:#eaeaea;
	line-height:39px;
	vertical-align:middle;
	background-position:10px -1183px;
}
.chel2Tit span{
	font-size:20px;
	padding-left:40px;
	float:left;
}
.titA{
	width:230px;
	float:right;
}
.titA a{
	height:18px;
	border-right:1px solid #7f7f7f;
	display:block;
	float:left;
	line-height:18px;
	width:65px;
	margin-top:10px;
	margin-right:10px;
	color:#7f7f7f;
}
.chelLi{
	width:140px;
	height:235px;
	float:left;
	margin-right:46px;
	margin-top:10px;
	position:relative;
}
.chelLi img{
	width:140px;
	height:190px; 
}
.chelLi  span{
	height:20px;
	line-height:20px;
	vertical-align:middle;
	display:block;
	text-align:center;
	font-weight:bold;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.chelLi p{
	height:25px;
	line-height:25px;
	vertical-align:middle;
	text-align:center;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.vip2{
	height:928px;
	background-color:#fff;
	overflow:hidden;
	margin-bottom:15px;
}
.vip2Left2{
	position:relative;
	width:700px;
	float:left;
	border:1px solid #cccccc;
	height:928px;
	overflow:hidden;
}
.viplUl2{
	width:700px;
	overflow:hidden;
	height:40px;
}
.viplUl2 li{
	width:348px;
	float:left;
	height:39px;
	line-height:39px;
	vertical-align:middle;
	background-color:#fafafa;
	text-align:center;
	border:1px solid #dddddd;
	border-top:none;
	border-left:none;
	cursor:pointer;
	font-size:16px;
}
.viplUl2 li.on{
	border-top:4px solid #1886df;
	background-color:#fff;
	height:36px;
	line-height:36px;
	vertical-align:middle;
	border-bottom:none;
	color:#1885e0;
}
.chanlR{
	width:240px;
	float:right;
	overflow:hidden;
}
.imgBlok{
	width:140px;
	height:190px;
	position:absolute;
	background-color:#000;
	left:0;
	top:0;
	z-index:9;
	display:none;
}
.imgFont{
	width:110px;
	height:150px;
	position:absolute;
	left:15px;
	z-index:99;
	top:20px;
	overflow:hidden;
	display:none;
	cursor:pointer;
}
.imgSpan{
	width:110px;
	height:100px;
	overflow:hidden;
	color:#fff;
	line-height:26px;
	font-size:12px;
}
.imgF2{
	width:110px;
	height:40px;
	line-height:40px;
	vertical-align:middle;
	text-align:center;
	text-decoration:underline;
	font-size:16px;
	color:#fff;
	vertical-align:middle;
}
.imgF2 a{
	color:#fff;
}
/******频道页********/
.block, .blockc {
	margin-bottom: 0.6em;
	overflow: hidden;
	background: #ffffff;
}
.blocktitle {
	height: 35px;
	line-height: 35px;
	font-size: 18px;
	border-bottom: 1px solid #2c91e1;
	padding-left: 0.6em;
	color: #2f8fdb;
	background: #f0f1f3;
}
.blocktitle em{
	float: left;
	font-style: normal;
}
.blocktitle ul {
	height: 25px;
	margin: 11px 0 0 0;
	padding: 0;
	float: right;
}
.blocktitle li {
	float: left;
	padding: 0;
	margin: 0 0.3em 0 0;
}
.blocktitle li a {
	display: block;
	float: left;
	height: 24px;
	line-height: 24px;
	padding: 0 0.3em;
	margin: 0px;
	font-weight: normal;
	background: #f0f0f0;
	text-decoration: none;
	color: #000000;
	border: 1px solid #cccccc;
	border-bottom: none;
}
.blocktitle li a.selected {
	font-weight: bold;
	background: #ffffff;
	border-top: 2px solid #1886df;
	position: relative;
	margin-bottom: -1px;
}
.blockcontent {
	margin: 0.5em;
}
.blocknote {
	border-top: 1px solid #cccccc;
	margin: 0.3em;
	text-align: center;
	background: #fbfbfb;
	line-height: 150%;
}
.row .last {
	float: right;
	margin-right: 0;
}